<div class="list-group col-md-12" >
    <div class="list-group-item list-group-item-customized-inside-right" style="border-top-right-radius: 2px;">
        <h6>SAVED JOBS</h6>
    </div>

    <a ng-href="/job-profile/{{job._id}}"  class="list-group-item list-group-item-customized" ng-repeat="job in user.jobs">
        <table>
            <tr>
                <td>
                    <div id="search-result-picture" class="toolbar-image">
                        <div ng-if="job.imageName">
                            <img class= "main-search-job-image" ng-src="https://s3.amazonaws.com/Adjuncts/{{job.imageName}}" width="50px" />
                        </div>
                        <div ng-if="!job.imageName" class="no-picture-job-mini">
                            <i class="fa fa-briefcase briefcase"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="list-group-item-heading-customized ppl-also-name">
                        {{job.positionTypeDesc}} of {{job.academicDiscipline}}
                        </span>
                        <p class="description">
                            <span>at {{ job.institution || 'empty' }}</span></br>
                            <span> {{ job.locationCity || 'empty' }}</span>
                            <span>| {{ job.contractType.name || 'empty' }}</span>
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </a>
</div>