<div class="container">
    <div class="panel col-md-9">
        <div ng-include="topCardTemplateUrl" />
        <div class="panel-group col-md-4" style="padding-left:0px !important;padding-right:0px !important;">
            <div ng-include="badgeSectionUrl" />
        </div>
        <div class="panel-group col-md-8" style="padding-left:0px !important;padding-right:0px !important;">
            <div ng-include="middleCardTemplateUrl" />
            <div ng-include="bottomCardTemplateUrl" />
        </div>
    </div>
    <div class="col-md-3 sidebar-offcanvas" id="sidebar2" role="navigation">
        <div ng-include="rightTopSideColumnUrl" />
        <div ng-include="rightBottomSideColumnUrl" />
    </div>
</div>

<div ng-include="uploadPictureModalUrl" />
<div ng-include="videoModalUrl" />
<div ng-include="badgeEditModallUrl" />
