<div id="bottom-card" class="panel panel-default bottom-card-panel col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="panel-body bottom-card-panel-body">
        <!--<div ng-controller="EditableFormCtrl2" id ="profile-details">-->
        <div class="profile-details-content">
                        <div id="experience-edit">
                            <form class="form-group">
                                <ul>
                                    <li>
                                        <h5><span style="margin-top: 7px; margin-bottom:7px;"><i class="fa fa-user fa-lg"></i> Summary</span></h5>
                                        <div class="fieldgroup">
                                                <textarea name="userSummary" class="edit-experience" cols="80" rows="6" ng-model="user.summary" style="margin-bottom: 15px;"placeholder=" Edit your summary here."></textarea>
                                        </div>
                                    </li>
                                    <div class="" style="border-top: 1px solid #ddd !important;margin-top: 10px;padding-top: 15px;">
                                       <h5><span style="margin-top: 7px; margin-bottom:7px;"><i class="fa fa-clipboard fa-lg"></i> Experience</span></h5>
                                       <p class="bottom-adjunct-add-position">
                                           <a href class="" ng-click="addAResumePosition()">
                                               <span class=""><i class="fa fa-plus "></i> Add a position</span>
                                           </a>

                                       </p>
                                    <div id="experience-containter-edit" ng-repeat="resumePosition in user.resumePositions">
                                        [<a href class="" ng-click="removeAResumePosition(resumePosition)">
                                        <span class="">X</span>
                                    </a>]
                                    <li>
                                        <label for="">Institution Name <abbr title="Required" class="required">*</abbr></label>
                                        <div class="fieldgroup">
                                            <div class="institution">
                                                    <input type="text" class="form-control form-inline input-sm profile-forms position-edit-form"
                                                    name="experience1Institution" ng-model="user.resumePosition.institution" maxlength="100">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <label for="">Title </label>
                                        <div class="fieldgroup">
                                            <div class="institution">
                                                <input type="text" class="form-control form-inline input-sm profile-forms position-edit-form"
                                                       name="experience1Title" ng-model="user.resumePosition.title " maxlength="100">
                                            </div>
                                        </div>
                                    </li>
                                    <li >
                                        <label for="">Location <abbr title="Required" class="required">*</abbr></label>
                                        <div class="fieldgroup">
                                            <div class="institution">
                                                <input type="text" class="form-control form-inline input-sm profile-forms position-edit-form"
                                                       name="experience1Location" ng-model="user.resumePosition.location  " maxlength="100">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="time-period" id="time-period" style="display:inline!important;">
                                            <fieldset style="display:inline!important;">
                                                <legend>
                                                <span>Time Period <abbr title="Required" class="required">*</abbr></span>
                                                </legend>
                                                <ul>
                                                    <li class="start-date" style="display:inline!important;">
                                                        <span><select ng-model="user.resumePosition.startMonth" class="edit-month" ng-options="m for m in months" class="" required style="display:inline!important;">
                                                        <option value="">choose...</option></select>
                                                        <label for="" style="display:none;" >Year</label>
                                                        <input type="text" class="form-control form-inline input-sm profile-forms year"
                                                        name="experience1TimePeriodYear " ng-model="user.resumePosition.startYear" maxlength="4" placeholder="Year"style="display:inline!important;">
                                                        <span class="to">-</span></span>
                                                    </li>
                                                    <li class="end-date"  style="display:inline!important;">
                                                        <div class="ended-position" style="display:inline!important;">
                                                        <span ng-hide="user.stillHere"><select ng-model="user.resumePosition.endMonth" class="edit-month" ng-options="m for m in months" class="" required style="display:inline!important;">
                                                            <option value="">choose...</option></select>
                                                        <label for="" style="display:none;" >Year</label>
                                                        <input type="text" class="form-control form-inline input-sm profile-forms year"
                                                               name="experience1TimePeriodYear " ng-model="user.resumePosition.endYear"  maxlength="4" placeholder="Year" style="display:inline!important;"></span>
                                                        <span ng-show="user.stillHere">to present</span>
                                                        </div>
                                                        <div class="current-position">Present</div>
                                                        <label class="checkbox" id="still-here">
                                                        <input type="checkbox" ng-model="user.stillHere">
                                                            I currently work here
                                                        </label>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                            </li>
                                            <li id="experience-summary">
                                                <label for="">Description</label>
                                                <div class="fieldgroup">
                                                    <textarea name="experience1Summary" class="edit-experience" cols="80" rows="6" ng-model="user.resumePosition.description "></textarea>
                                                </div>
                                                <button type="button" class="btn btn-xs btn-primary" ng-click="saveBottomCard()">Save</button>
                                                <button type="button" class="btn btn-xs btn-primary" ng-click="saveBottomCard()">Cancel</button>
                                            </li>




                                </ul>

                            </form>


                <div class="profile-edit">
                    <!-- button to show form -->
                    <button type="button" class="btn btn-xs btn-primary" ng-click="saveBottomCard()">Save</button>
                    <!--<button type="button" class="btn btn-xs" ng-click="cancelBottomCard()">Cancel</button>-->
                    </div>
                </div>
                    </div>

                </div>

            <!--</form>-->
        </div>
        <!--</div>-->
    </div>
</div>



<!--<form editable-form name="editableForm2">-->

<!--<div id="summary-container">-->
<!--<span class=" lead user-summary lead" editable-textarea="user.summary" e-rows="12" e-cols="80">-->
<!--<p style="background-color: white;">{{user.summary || 'no description'}}</p>-->
<!--</span>-->
<!--</div>-->

<!--<div id="experience-container">-->
<!--<span editable-text="user.experience1Title"> <div id="headline">{{ user.experience1Title|| 'empty' }}</div></span>-->
<!--<span editable-text="user.experience1Institution"><div id="headline-institution">{{ user.experience1Institution || 'empty' }}</div></span>-->
<!--<span editable-text="user.experience1Location"><div id="headline-location"class="text-muted">{{ user.experience1Location || 'empty' }}</div></span>-->
<!--<span editable-select="user.status" e-ng-options="s.value as s.text for s in statuses"> {{ showStatus() }}</span>-->
<!--<span editable-text="user.experience1TimePeriodYear">{{}}</span>-->
<!--&lt;!&ndash;<span editable-text="user.experience1TimePeriodYear">{{ user.experience1TimePeriodYear || 'empty' }}</span>&ndash;&gt;-->
<!--<span editable-textarea="user.experience1Summary" e-rows="12" e-cols="80">-->
<!--<p id="headline-i"><em>{{user.experience1Summary || 'no description'}}</em></p>-->
<!--</span>-->
<!--</div>-->