<div style="margin: 25px 25px;">
    <form id="user-auto-assess">
                <div class="question-text">
                    <p>Rate your experience:</p>
                </div>
                Designing syllabuses:
                <div class="answer-container">
                    <input type="radio" ng-model="user.survey.syllabusDesign" id="syllabusDesign-1" value="1">
                    <!--<label for="syllabusDesign-1"> I'm beginner, I have limited field and theoretical experience
                     I'm an advanced beginner, I understand what it takes to design a good syllabus and I already designed a few of my own
                     I have quite a bit of experience, I reach a quite decent level of competency
                     I'm very proficient at it
                     I'm an expert, students and pairs praise my skills</label>-->
                    <label for="syllabusDesign-1"> I'm a beginner</label>
                    <input type="radio" ng-model="user.survey.syllabusDesign" id="syllabusDesign-2" value="2">
                    <label for="syllabusDesign-2"> I'm an advanced beginner</label>
                    <input type="radio" ng-model="user.survey.syllabusDesign" id="syllabusDesign-3" value="3">
                    <label for="syllabusDesign-3"> I have quite a bit of experience</label>
                    <input type="radio" ng-model="user.survey.syllabusDesign" id="syllabusDesign-4" value="4">
                    <label for="syllabusDesign-4"> I'm very proficient</label>
                    <input type="radio" ng-model="user.survey.syllabusDesign" id="syllabusDesign-5" value="5">
                    <label for="syllabusDesign-5"> I'm an expert</label>
                </div>

                Designing Technology Enabled Instructional material:
                <div class="answer-container">
                    <input type="radio" ng-model="user.survey.technologyDesign" id="technologyDesign-1" value="1">
                    <label for="technologyDesign-1"> I'm a beginner</label>
                    <input type="radio" ng-model="user.survey.technologyDesign" id="technologyDesign-2" value="2">
                    <label for="technologyDesign-2"> I'm an advanced beginner</label>
                    <input type="radio" ng-model="user.survey.technologyDesign" id="technologyDesign-3" value="3">
                    <label for="technologyDesign-3"> I have quite a bit of experience</label>
                    <input type="radio" ng-model="user.survey.technologyDesign" id="technologyDesign-4" value="4">
                    <label for="technologyDesign-4"> I'm very proficient</label>
                    <input type="radio" ng-model="user.survey.technologyDesign" id="technologyDesign-5" value="5">
                    <label for="technologyDesign-5"> I'm an expert</label>
                </div>


                Giving Student Centered Feedback:
                <div class="answer-container">
                <input type="radio" ng-model="user.survey.studFeedback" id="studFeedback-1" value="1">
                <label for="studFeedback-1"> I'm a beginner</label>
                <input type="radio" ng-model="user.survey.studFeedback" id="studFeedback-2" value="2">
                <label for="studFeedback-2"> I'm an advanced beginner</label>
                <input type="radio" ng-model="user.survey.studFeedback" id="studFeedback-3" value="3">
                <label for="studFeedback-3"> I have quite a bit of experience</label>
                <input type="radio" ng-model="user.survey.studFeedback" id="studFeedback-4" value="4">
                <label for="studFeedback-4"> I'm very proficient</label>
                <input type="radio" ng-model="user.survey.studFeedback" id="studFeedback-5" value="5">
                <label for="studFeedback-5"> I'm an expert</label>
                </div>

                Taking into account Summative Feedback:
                <div class="answer-container">
                <input type="radio" ng-model="user.survey.sumFeedback" id="sumFeedback-1" value="1">
                <label for="sumFeedback-1"> I'm a beginner</label>
                <input type="radio" ng-model="user.survey.sumFeedback" id="sumFeedback-2" value="2">
                <label for="sumFeedback-2"> I'm an advanced beginner</label>
                <input type="radio" ng-model="user.survey.sumFeedback" id="sumFeedback-3" value="3">
                <label for="sumFeedback-3"> I have quite a bit of experience</label>
                <input type="radio" ng-model="user.survey.sumFeedback" id="sumFeedback-4" value="4">
                <label for="sumFeedback-4"> I'm very proficient</label>
                <input type="radio" ng-model="user.survey.sumFeedback" id="sumFeedback-5" value="5">
                <label for="sumFeedback-5"> I'm an expert</label>
                </div>



                <div class="question-text">
                    <p>Are you proficient with Learning Management Systems?</p>
                </div>
                <input type="radio" ng-model="user.survey.lms" id="lms-yes" value="yes">
                <input type="radio" ng-model="user.survey.lms" id="lms-no" value="no">
                <div class="switch" id="lms">
                    <label for="lms-yes">Yes</label>
                    <label for="lms-no">No</label>
                    <span></span>
                </div>




                <!--<div class="question-text">-->
                    <!--<p>Are you proficient with Learning Management Systems?</p>-->
                <!--</div>-->
                <!--<input type="radio" ng-model="user.survey.lms" id="lms-yes" value="yes">-->
                <!--<label for="lms-yes">yes</label>-->
                <!--<input type="radio" ng-model="user.survey.lms" id="lms-no" value="no">-->
                <!--<label for="lms-no">no</label>-->
                <!--<br/>-->
                <div ng-show="user.survey.lms=='yes'">
                    What LMS do you work with?

                    <div id="content">
                        <div id="content-left">
                            <input type="checkbox" ng-model="user.badges.blackboard" ng-true-value="blackboard"><img
                                class="badge-form-thumb" ng-src="/img/badges/blackboard.png"/>
                            <small>Blackboard</small>
                            <br/>
                            <input type="checkbox" ng-model="user.badges.canvas" ng-true-value="canvas"><img
                                class="badge-form-thumb" ng-src="/img/badges/canvas.png"/>
                            <small>Canvas</small>
                            <br/>
                            <input type="checkbox" ng-model="user.badges.desire2learn" ng-true-value="desire2learn"><img
                                class="badge-form-thumb" ng-src="/img/badges/desire2learn.png"/>
                            <small>Desire2Learn</small>
                            <br/>
                            <input type="checkbox" ng-model="user.badges.sakai" ng-true-value="sakai"><img
                                class="badge-form-thumb" ng-src="/img/badges/sakai.png"/>
                            <small>Sakai</small>
                            <br/>
                            <input type="checkbox" ng-model="user.badges.softchalk" ng-true-value="softchalk"><img
                                class="badge-form-thumb" ng-src="/img/badges/softchalk.png"/>
                            <small>SoftChalk</small>
                            <br/>
                        </div>
                        <div id="content-right">
                            <input type="checkbox" ng-model="user.badges.connect" ng-true-value="connect"><img
                                class="badge-form-thumb" ng-src="/img/badges/connect.png"/>
                            <small>Adobe Connect</small>
                            <br/>
                            <input type="checkbox" ng-model="user.badges.captivate" ng-true-value="captivate"><img
                                class="badge-form-thumb" ng-src="/img/badges/captivate.png"/>
                            <small>Adobe Captivate</small>
                            <br/>
                            <input type="checkbox" ng-model="user.badges.camtasia" ng-true-value="camtasia"><img
                                class="badge-form-thumb" ng-src="/img/badges/camtasia.png"/>
                            <small>Camtasia</small>
                            <br/>
                            <input type="checkbox" ng-model="user.badges.omeka" ng-true-value="omeka"><img
                                class="badge-form-thumb" ng-src="/img/badges/omeka.png"/>
                            <small>Omeka</small>
                            <br/>
                            <input type="checkbox" ng-model="user.badges.zotero" ng-true-value="zotero"><img
                                class="badge-form-thumb" ng-src="/img/badges/zotero.png"/>
                            <small>Zotero</small>
                            <br/>
                        </div>
                    </div>
                    <!--<div id="footer" style="width:380px">-->
                        <!--<input type="checkbox" ng-model="user.badges.powerpoint" ng-true-value="powerpoint"><img-->
                            <!--class="badge-form-mini-thumb" ng-src="/img/badges/powerpoint.png"/>-->
                        <!--<small>PowerPoint</small>-->
                        <!--, <input type="checkbox" ng-model="user.badges.prezi" ng-true-value="prezi"><img-->
                            <!--class="badge-form-mini-thumb" ng-src="/img/badges/prezi.png"/>-->
                        <!--<small>Prezi</small>-->
                        <!--, <input type="checkbox" ng-model="user.badges.keynote" ng-true-value="keynote"><img-->
                            <!--class="badge-form-mini-thumb" ng-src="/img/badges/keynote.png"/>-->
                        <!--<small>Keynote</small>-->
                        <!--,<br/> <input type="checkbox" ng-model="user.badges.handBrake" ng-true-value="handBrake"><img-->
                            <!--class="badge-form-mini-thumb" ng-src="/img/badges/handbrake.png"/>-->
                        <!--<small>HandBrake</small>-->
                        <!--</span>-->
                        <!--, <input type="checkbox" ng-model="user.badges.audacity" ng-true-value="audacity"><img-->
                            <!--class="badge-form-mini-thumb" ng-src="/img/badges/audacity.png"/>-->
                        <!--<small>Audacity</small>-->
                        <!--,<br/> <input type="checkbox" ng-model="user.badges.explaineverything"-->
                                      <!--ng-true-value="explaineverything"><img class="badge-form-mini-thumb"-->
                                                                             <!--ng-src="/img/badges/explaineverything.png"/>-->
                        <!--<small>ExplainEverything</small>-->
                        <!--, <input type="checkbox" ng-model="user.badges.ibookauthor" ng-true-value="ibookauthor"><img-->
                            <!--class="badge-form-mini-thumb" ng-src="/img/badges/ibookauthor.png"/>-->
                        <!--<small>iBookAuthor</small>-->

                    <!--</div>-->
                    <div id="bottom"></div>

                </div>


                <div class="question-text">
                    <p>Do you have Instructional Design Experience?</p>
                </div>
                <input type="radio" ng-model="user.survey.instructionalDesign" id="instructionalDesign-yes" value="Yes">
                <input type="radio" ng-model="user.survey.instructionalDesign" id="instructionalDesign-no" value="No">
                <div class="switch" id="instructionalDesign">
                <label for="instructionalDesign-yes">Yes</label>
                <label for="instructionalDesign-no">No</label>
                <span></span>

                </div>

                <div class="question-text">
                    <p>Do you have any Academic or Professional papers to upload?</p>
                </div>
                <input type="radio" ng-model="user.survey.professionalContribution" id="professionalContribution-yes" value="Yes">
                <input type="radio" ng-model="user.survey.professionalContribution" id="professionalContribution-no" value="No">
                <div class="switch" id="professionalContribution">
                    <label for="professionalContribution-yes">Yes</label>
                    <label for="professionalContribution-no">No</label>
                    <span></span>

                </div>


    </form>
        <button class="btn-primary-custom" style="border-radius:2px" ng-click="saveBadgeCard()">save</button>
        <button class="btn-primary-custom" style="border-radius:2px"  ng-click="">cancel</button>
</div>
