<div class="list-group col-md-12" >
    <a href="#" class="list-group-item list-group-item-customized-inside-right">
        <h6>SAVED JOBS</h6>  </a>

    <a href="#" class="list-group-item list-group-item-customized">
        <row>
            <span><img class= "pull-left search-image" src="/img/profilesAaron.png" width=50px /></span>
            <span class="ppl-also-name-mini">Aaron Wilkinson</span><br/><span><small>Ethnic Studies, African and American studies</small></span>
        </row>
    </a>

    <a href="#" class="list-group-item list-group-item-customized">
        <row>
            <span><img class= "pull-left search-image" src="/img/profilesLindsey.png" width=50px /></span>
            <span class="ppl-also-name-mini">Lindsey Davis</span><br/><span >Criminal justice, family and social networks</span>
        </row>
    </a>

    <a href="#" class="list-group-item list-group-item-customized">
        <row>
            <span><img class= "pull-left search-image" src="/img/profilesNell.png" width=50px /></span>
            <span class="ppl-also-name-mini">Nell Haynes</span><br/><span >Women and gender in latin america</span>
        </row>
    </a>

    <a href="#" class="list-group-item list-group-item-customized">
        <row>
            <span><img class= "pull-left search-image" src="/img/profilesMallory.png" width=50px /></span>
            <span class="ppl-also-name-mini">Mallory Roberts</span><br/><span >High energy Astrophysics</span>
        </row>
    </a>

</div>