<div id="top-card" class="panel profiles-panel col-md-12">
    <div class="panel-body profile-top-card">
       <div class="profile-picture-container col-sm-4">




           <!--<div class="profile-picture">-->
            <!--<span ng-if="user.imageName">-->
                <!--<img class="pull-left"  style="width: 207px;"ng-src="https://s3.amazonaws.com/Adjuncts/{{user.imageName}}"/>-->
            <!--</span>-->
               <!--<div ng-if="!user.imageName" class="no-picture">-->
                   <!--<div ng-show="canEdit" class="addPictLink">-->
                       <!--<a href="#" ng-click="openPictureUploadModal()">-->
                        <!--<span style= "color: #fff;">-->
                            <!--<img src="/img/icon_add_photo_27x27_v1.png" /> Add a photo-->
                        <!--</span>-->
                       <!--</a>-->
                   <!--</div>-->
               <!--</div>-->
           <!---->



            <div class="profile-picture">
                <span ng-if="user.imageName">
                    <img class="pull-left" style="width: 207px;" ng-src="https://s3.amazonaws.com/Adjuncts/{{user.imageName}}"/>
                </span>

                <div ng-if="user.imageName" class="edit-photo">
                    <a href="#" ng-click="openPictureUploadModal()">
                        <span>Change photo</span>
                    </a>
                </div>
            </div>
            <div ng-if="!user.imageName" class="no-picture">
                <div class="addPictLink">
                    <a href="#" ng-click="openPictureUploadModal()">
                        <span style="color: #fff;">
                            <img src="/img/icon_add_photo_27x27_v1.png"/> Add a photo
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="profile-overview col-sm-8 col-md-8" style="margin-left:30px;">
                    <!--<div class="profile-overview-content-edit" style="margin-left: 0px; padding-left: 15px;padding-right: 0px; margin-right: 0">-->
                        <div class="profile-overview-content col-sm-12 col-md-12" style="margin: 20px 0;">
                            <div>
                                    <ul class="top-profile-card-xedit">
                                        <li>
                                            <!--<div id="name-container">-->
                                            <h2 style="font-weight:bold; font-size: 20px;margin:0;line-height:1;">
                                                    <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-text="user.firstName" e-name="firstName" e-form="rowform" e-required>
                                                      {{ user.firstName || 'Edit name' }}
                                                    </span>
                                            </h2>
                                        </li>
                                        <li>
                                            <h2 style="font-weight:bold; font-size: 20px;margin:0;line-height:1;">
                                                    <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-text="user.lastName" e-name="lastName" e-form="rowform" e-required>
                                                      {{ user.lastName }}
                                                    </span>
                                            </h2>
                                            <!--</div>-->
                                        </li>
                                        <li>
                                            <!-- form -->
                                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default btn-valid-inline-xedit">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-cancel-inline-xedit">
                                                    cancel
                                                </button>
                                            </form>
                                            <div class="buttons" ng-show="!rowform.$visible">
                                                <button class="btn btn-default" ng-click="rowform.$show(); rowform2.$hide(); rowform3.$hide(); rowform4.$hide(); educationBtnForm.$hide()" style ="background-color: white;border-color: white;color: #0073b2;padding:0;"> <i class="fa fa-pencil"></i></button>
                                            </div>
                                        </li>
                                    </ul>
                            </div>

                            <ul class="top-profile-card-xedit">

                                    <li>
                                        <!--<div id="name-container">-->
                                            <span class="top-card-text-xedit" e-class="top-profile-form-xedit"  editable-text="user.currentPosition" e-name="currentPosition" e-form="rowform2" e-style="width:150px;" e-required>
                                              {{ user.currentPosition || "Edit position title" }}
                                            </span>
                                    </li>
                                    <li>
                                            <span class="top-card-text-xedit" e-class="top-profile-form-xedit"  editable-select="user.field" e-name="fieldName" e-style="width:150px;" e-form="rowform2" e-ng-options="f.id as f.text for f in fieldGroups" e-required>
                                              <span ng-hide="!user.field || !user.currentPosition">|</span>
                                              {{ user.fieldName }}
                                            </span>
                                        <!--</div>-->
                                    </li>
                                    <li>
                                        <!-- form -->
                                        <form editable-form name="rowform2" ng-show="rowform2.$visible" class="form-buttons form-inline" shown="inserted == user">
                                            <button type="submit" ng-disabled="rowform2.$waiting" class="btn btn-default btn-valid-inline-xedit">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            <button type="button" ng-disabled="rowform2.$waiting" ng-click="rowform2.$cancel()" class="btn btn-default btn-cancel-inline-xedit">
                                                cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform2.$visible">
                                            <button class="btn btn-default" ng-click="rowform2.$show(); rowform.$hide(); rowform3.$hide(); rowform4.$hide(); educationBtnForm.$hide()" class="cst-btn-xedit" style ="background-color: white;border-color: white;color: #0073b2;padding:0;"> <i class="fa fa-pencil"></i></button>
                                        </div>
                                    </li>

                            </ul>
                                <ul class="top-profile-card-xedit">
                                    <li>
                                            <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-select="user.institution" e-name="institution" e-style="width:250px;" e-form="rowform3" e-ng-options="f.id as f.text for f in institutions" e-require>
                                              {{ user.institutionName||"Edit institution" }}
                                            </span>
                                        <!--</div>-->
                                    </li>
                                    <li>
                                        <!-- form -->
                                        <form editable-form name="rowform3" ng-show="rowform3.$visible" class="form-buttons form-inline" shown="inserted == user">
                                            <button type="submit" ng-disabled="rowform3.$waiting" class="btn btn-default btn-valid-inline-xedit">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            <button type="button" ng-disabled="rowform3.$waiting" ng-click="rowform3.$cancel()" class="btn btn-default btn-cancel-inline-xedit">
                                                cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform3.$visible">
                                            <button class="btn btn-default" ng-click="rowform3.$show(); rowform.$hide(); rowform2.$hide(); rowform4.$hide(); educationBtnForm.$hide()" style ="background-color: white;border-color: white;color: #0073b2;padding:0;"> <i class="fa fa-pencil"></i></button>
                                        </div>
                                    </li>
                                </ul>
                            <div class="text-muted" id="demographic-info-editing">
                                <ul class="top-profile-card-xedit">
                                    <li>
                                        <!--<div id="name-container">-->
                                            <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-text="user.city" e-name="city" e-form="rowform4" e-style="width:150px;" e-required>
                                              {{ user.city || "Edit location"}}
                                            </span>
                                    </li>
                                    <li>
                                            <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-select="user.country" e-name="fieldName" e-style="width:150px;" e-form="rowform4" e-ng-options="c.id as c.text for c in countries" e-required>
                                              <span ng-hide="!user.city || !user.countryName">|</span>
                                              {{ user.countryName }}
                                            </span>
                                        <!--</div>-->
                                    </li>
                                    <li>
                                        <!-- form -->
                                        <form editable-form name="rowform4" ng-show="rowform4.$visible" class="form-buttons form-inline" shown="inserted == user">
                                            <button type="submit" ng-disabled="rowform4.$waiting" class="btn btn-default btn-valid-inline-xedit">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            <button type="button" ng-disabled="rowform4.$waiting" ng-click="rowform4.$cancel()" class="btn btn-default btn-cancel-inline-xedit">
                                                cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform4.$visible">
                                            <button class="btn btn-default" ng-click="rowform4.$show(); rowform.$hide(); rowform2.$hide(); rowform3.$hide(); educationBtnForm.$hide()" style ="background-color: white;border-color: white;color: #0073b2;padding:0;"> <i class="fa fa-pencil"></i></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-muted" id="">
                                <ul class="top-profile-card-xedit">
                                    <li>
                                            <span class="top-card-text-xedit" e-class="top-profile-form-xedit" editable-select="user.edDegree" e-name="edDegreeName" e-style="width:150px;" e-form="educationBtnForm" e-ng-options="c.id as c.text for c in edDegrees" e-required>
                                              {{ user.edDegreeName || "Edit education" }}
                                            </span>
                                    </li>
                                    <li>
                                        <form editable-form name="educationBtnForm" ng-show="educationBtnForm.$visible" class="form-buttons form-inline" shown="inserted == user">
                                            <button type="submit" ng-disabled="educationBtnForm.$waiting" class="btn btn-default btn-valid-inline-xedit">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            <button type="button" ng-disabled="educationBtnForm.$waiting" ng-click="educationBtnForm.$cancel()" class="btn btn-default btn-cancel-inline-xedit">
                                                cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!educationBtnForm.$visible">
                                            <button class="btn btn-default" ng-click="educationBtnForm.$show(); rowform.$hide(); rowform2.$hide(); rowform3.$hide(); rowform4.$hide();" style ="background-color: white;border-color: white;color: #0073b2;padding:0;"> <i class="fa fa-pencil"></i></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


            <!--<div ng-if="user.expertiseTags.length > 0">-->
                <!--<div ng-repeat="item in user.expertiseTags | limitTo: maxNumberOfTagsToShow">-->
                    <!--<span class="tags">{{ item }}</span>-->
                <!--</div>-->
                <!--<div class="showtagslink" ng-if="user.expertiseTags.length > 17">-->
                    <!--<a href="#" ng-click="showMoreTags()" ng-show="maxNumberOfTagsToShow == 17" style="font-size:11px;">Show more tags</a>-->
                    <!--<a href="#" ng-click="showLessTags()" ng-show="maxNumberOfTagsToShow == 9999" style="font-size:11px;">Show less tags</a>-->
                <!--</div>-->
            <!--</div>-->




                        <div id="tags-container" style="padding-bottom: 15px">
                            <label style="margin-bottom: 0px;margin-top: 5px"><i class="fa fa-tag fa-lg"></i> Skills, and
                                specializations (comma separated): </i></label>
                            <tags-input ng-model="user.expertiseTags"
                      class="expertise-tags expertise-tags-custom"
                                        style="background-color: #B8D5EE !important; "></tags-input>
                        </div>
                    <!--</div>-->

        </div>
    </div>
        <div class="top-card-profile-actions" style="border-top: 1px dashed #5e5e67;background: #f6f6f6;height:35px;">

            <div ng-show="canEdit" ng-click="saveTopCard()" class="action-bar">
            <i class="fa fa-check-square-o fa-lg"></i> Save Changes
            </div>
            <div ng-show="canEdit" ng-click="importLinkedin()" class="action-bar">
            <i class="fa fa-download fa-lg"></i> Import from LinkedIn
            </div>

            </div>
        </div>


</div>
