<div id="top-card" class="panel panel-default col-md-12 " style="padding-left:5px !important;padding-right:5px !important; padding-bottom: 0px !important; margin-bottom: 5px !important">
    <div class="panel-body profile-top-card">
        <div class="profile-picture">
            <span><img class= "img-thumbnail pull-left" src="img/jenny.jpg" /></span>
        </div>
        <div class="profile-overview-content">
            <div class="lead lead-custom masthead">
                <!--<div class="account-icons">-->
                    <!--<div id="badge-container">-->
                        <!--<img class="img-thumbnail" id="badge" src="img/universityBadge_MSU.png"/>-->
                    <!--</div>-->
                <!--</div>-->
                <div id="name-container">
                    <h2>
                        <span>{{ user.firstName || 'first name' }}</span>
                        <span>{{ user.lastName || 'last name' }}</span>
                    </h2>
                </div>
                <div id="headline-container">
                    <span>{{ user.currentPosition || 'current position' }}</span>
                    <span>at {{ user.institution|| 'current institution' }}</span>
                </div>
                <div class="text-muted" id="demographic-info">
                    <span>{{ user.city || 'city' }}</span>
                    <span>, {{ user.generalArea|| 'general area' }}</span>
                    <span>| {{ user.department|| 'school department' }}</span>
                </div>
            </div>

            <table id="profile-card-table">
                <tbody>
                <tr id="overview-summary-specialty">
                    <th class="profile-card-table-th" scope="row">Expertise </th>
                    <td class="profile-card-table-td"><span>{{ user.specialty1 || '' }}</span>
                        <span>{{ user.specialty2 || '' }}</span>
                        </br>
                        <span>{{ user.specialty3 || '' }}</span>
                    </td>
                </tr>
                <tr id="overview-summary-education">
                    <td class="profile-card-table-th">Education</td>
                    <td class="profile-card-table-td"><span>{{ user.educationLevel || '' }}</span></td>
                </tr>
                </tbody>
            </table>
            <!--<div id="tags-container">-->
            <!--<tags-input ng-model="expertiseTags" ng-class="expertise-tags"></tags-input>-->
            <!--</div>-->

            <td><button type="button" class="btn btn-xs btn-primary btn-top-card-profile" ng-click="editTopCard()">Edit Profile</button></td>
        </div>
    </div>
</div>