<div class="panel-group middle-card  col-md-12" id="accordion"
     style="padding-left:0px !important;padding-right:0px !important;">
    <div class="panel panel-default" style="padding: 0 0 0 0 !important;border-radius: 1px;">
        <button ng-show="canEdit" class="btn btn-lg btn-primary edit-buttons " id="edit-middle-card" type="button" style="position: relative; float:right; clear:both; border-radius:0px 0px 0px 3px;padding-bottom: 6px;border-top-width: 1px;padding-top: 6px;padding-right: 7px;padding-left: 7px;" ng-click="editMiddleCard()">
        <i class="fa fa-pencil-square-o fa-lg"></i></button>
        <div class="panel-body" style="padding: 0 0 0 0 !important;">
            <div class="panel-body portfolio-middle-card" style="padding: 0 0 0 0 !important;">
                <div id="media-container" style="border-top: 3px solid #101010;border-bottom: 3px solid #101010;">
                    <span><ul class="video-thumbnails">
                        <li ng-repeat="videoId in user.videoIds" class="video-thumbnail">
                            <a ng-click="openVideoModal(videoId)">
                                <img ng-src="http://img.youtube.com/vi/{{videoId}}/2.jpg" alt="" height=35px />
                            </a>
                        </li>
                    </ul>
                    <a href="/files/cv.pdf"><img src="/img/PortfolioIconResume.png" height=35px/></a>
                    <a href="/files/syllabus.pdf"><img src="/img/PortfolioIconSyllabus.png" height=35px /></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>