<div id="top-card" class="panel panel-default col-md-12"
     style="position: relative;padding-left:0px !important;padding-right:5px !important; padding-bottom: 0px !important; margin-bottom: 5px !important">

    <div class="panel-body profile-top-card">
        <div class="profile-picture">
            <span ng-if="user.imageName">
                <img class="pull-left"  style="width: 207px;"ng-src="https://s3.amazonaws.com/Adjuncts/{{user.imageName}}"/>
            </span>
            <div ng-if="!user.imageName" class="no-picture">
                <div ng-show="canEdit" class="addPictLink">
                    <a href="#" ng-click="openPictureUploadModal()">
                        <span style= "color: #fff;">
                            <img src="/img/icon_add_photo_27x27_v1.png" /> Add a photo
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="profile-overview-content" style="margin-top: 30px;">
            <div class="lead lead-custom masthead">
                <div id="name-container" >
                    <h2 style="font-weight:bold; font-size: 22px;">
                        <span>{{ user.firstName || 'empty' }}</span>
                        <span>{{ user.lastName || 'empty' }}</span>
                    </h2>
                </div>
                <div id="headline-container">
                    <span>{{ user.currentPosition || 'empty' }}</span>
                    <span>at {{ user.currentInstitution|| 'empty' }}</span>
                </div>
                <div class="text-muted" id="demographic-info">
                    <span>{{ user.locationCity || 'empty' }}</span>
                    <span>, {{ user.countryName || 'empty' }}</span>
                    <span>| {{ user.generalDiscipline|| 'empty' }}</span>
                </div>
            </div>
            <table id="profile-card-table">
                <tbody>
                <tr id="overview-summary-specialty">
                    <th class="profile-card-table-th" scope="row">Expertise</th>
                    <td class="profile-card-table-td">

                        <div ng-repeat="fieldOfExpertise in user.fieldOfExpertises">
                            <span>{{ fieldOfExpertise.value || 'empty' }}</span>
                        </div>

                    </td>
                </tr>
                <tr id="overview-summary-education">
                    <td class="profile-card-table-th">Education</td>
                    <td class="profile-card-table-td">
                        <div ng-repeat="educationDegree in user.educationDegrees">
                            <span>{{ educationDegree.value || 'empty' }}</span>
                        </div>
                </tr>
                <!--<tr>-->
                    <!--<td></td>-->
                    <!--<td><button type="button" class="btn btn-xs btn-primary" ng-click="editTopCard()">Edit-->
                        <!--Profile-->
                    <!--</button></td>-->
                <!--</tr>-->






                </tbody>
            </table>


            <div class="" ng-repeat="item in user.expertiseTags">
                <span class="tags">{{ item||'tags go here' }}</span>
            </div>
        </div>
    </div>

    <button type="button" ng-show="canEdit" class="btn btn-md btn-primary edit-buttons"  id="edit-top-card"style="position:absolute; right: 0px ; bottom: 0px ;border-radius:3px 0px 3px 0px" ng-click="editTopCard()"><i class="fa fa-pencil-square-o fa-lg"></i> Edit Profile</button>
    <!--<button class="btn btn-lg btn-primary " id="edit-badges" type="submit" style="position: relative; float:right; clear:both; border-radius:0px 3px 0px 3px" ng-click="openBadgeEditModal()" >-->
        <!--<i class="fa fa-pencil-square-o fa-lg"></i></button>-->
</div>


