<div class="panel-group middle-card  col-md-12" id="accordion"
     style="padding-left:0px !important;padding-right:0px !important;">
    <div class="panel panel-default" style="padding: 0 0 0 0 !important;">
        <button ng-show="canEdit" class="btn btn-lg btn-primary edit-buttons " id="edit-badges" type="submit"
                style="position: relative; float:right; clear:both; border-radius:0px 3px 0px 3px"
                ng-click="openPortfolioEditModal()">
            <i class="fa fa-pencil-square-o fa-lg edit-buttons"></i></button>

        <div class="panel-body" style="padding: 0 0 0 0 !important;">
            <div class="panel-body portfolio-middle-card" style="padding: 0 0 0 0 !important;">
                <div id="media-container" style="border-top: 9px solid #101010;border-bottom: 9px solid #101010;">

                            <span><ul class="video-thumbnails">
                                <li ng-repeat="videoId in user.videoIds" class="video-thumbnail">
                                    <a ng-click="openVideoModal(videoId)">
                                        <img ng-src="http://img.youtube.com/vi/{{videoId}}/2.jpg" alt="" height=55px/>
                                    </a>
                                </li>
                            </ul>
                            <a href="/files/cv.pdf"><img src="/img/PortfolioIconResume.png" height=55px/></a>
                            <a href="/files/syllabus.pdf"><img src="/img/PortfolioIconSyllabus.png" height=55px/></a>
                            </span>
                </div>
            </div>
        </div>
    </div>
</div>

