<% if (locals.userId) { %>
    <div id="userId" style="display:none"><%= locals.userId %></div>
<% } %>
<div class="container">

    <div class="panel col-md-10 custom-main-left-panel">
        <div ng-include="topCardTemplateUrl" />
        <div class="panel-group col-md-3" style="padding-left:0px !important;padding-right:0px !important;">
            <div ng-include="badgeSectionUrl" />
        </div>
        <div class="panel-group col-md-9" style="padding-left:0px !important;padding-right:0px !important;">
            <!--<div ng-include="'/partial/adjuncts-profile-middle-card'" />-->
            <div ng-include="middleCardTemplateUrl" />
            <div ng-include="bottomCardTemplateUrl" />
        </div>
    </div>
    <div class="col-md-2 sidebar-offcanvas" id="sidebar2" role="navigation" style="padding-left: 7px;">
        <div ng-include="rightTopSideColumnUrl" />
        <div ng-include="rightBottomSideColumnUrl" />
    </div>

</div>

<div ng-include="uploadPictureModalUrl" />

<div ng-include="videoModalUrl" />
<div ng-include="badgeEditModalUrl" />
<div ng-include="portfolioEditModalUrl" />
<div ng-include="competencyPortfolioModalUrl" />
<div ng-include="uploadPortfolioModalUrl" />


