
<div class="panel-group middle-card  col-md-12" id="accordion" style="padding-left:0px !important;padding-right:0px !important;">
    <div class="panel panel-default"  style="padding: 0 0 0 0 !important;">

        <div class="panel-body" style="padding: 0 0 0 0 !important;">
            <div class="panel-body portfolio-middle-card" style="padding: 0 0 0 0 !important;">
                <div id="media-container" style="border-top: 9px solid #101010;border-bottom: 9px solid #101010;">
                            <span><a ng-click="openVideoModal()"><img src="/img/vid1.jpg" height=55px /></a>
                            <a href="https://www.youtube.com/watch?v=F1QNHJ1N-p0"><img src="/img/vid2.jpg" height=55px /></a>
                            <a href="/files/cv.pdf"><img src="/img/PortfolioIconResume.png" height=55px /></a>
                            <a href="/files/syllabus.pdf"><img src="/img/PortfolioIconSyllabus.png" height=55px /></a>
                            </span>
                </div>
            </div>
        </div>
    </div>
</div>


<!--https://www.youtube.com/watch?v=YKulXXvK2TA-->
<!--http://youtu.be/YKulXXvK2TA-->

<!--http://img.youtube.com/vi/YKulXXvK2TA/0.jpg-->