<div style="margin: 25px 25px;">

    <ul>
        <li ng-repeat="doc in user.portfolioLinks" class="">
            <a ng-click="openDoc(doc.value,doc.type, doc.title, doc.description, doc.category)">
                <div style="font-weight:bold;">{{doc.category}}: {{doc.title}}</div>
                <br>
                <iframe type="text/html" width="450" height="253" src="{{doc.value}}" frameborder="" allowfullscreen style=""></iframe>
                {{doc.description}}

                <br><br><br>
            </a>
        </li>
    </ul>
</div>
