<!--<div id="bottom-card" class="panel panel-default bottom-card-panel col-md-12">-->
    <!--<div class="panel-body bottom-card-panel-body">-->
        <!--<div class="profile-details-content">-->
                        <!--<div id="experience-edit">-->
                                <!--<ul>-->
                                    <!--<li>-->
                                        <!--<h5><span style="margin-top: 7px; margin-bottom:7px;"><i class="fa fa-user fa-lg"></i> Summary</span></h5>-->
                                        <!--<div class="fieldgroup" >-->
                                                <!--<textarea name="userSummary" class="edit-experience" cols="80" rows="6" ng-model="user.personalSummary" style="margin-bottom: 15px;width:560px;padding-top:15px;padding-left: 10px;-->
                                                <!--padding-right: 10px;"placeholder=" Edit your summary here."></textarea>-->

                                        <!--</div>-->
                                    <!--</li>-->

                                    <!--<div class="" style="border-top: 1px solid #ddd !important;margin-top: 10px;padding-top: 15px;">-->
                                       <!--<h5><span style="margin-top: 7px; margin-bottom:7px;"><i class="fa fa-clipboard fa-lg"></i> Experience</span></h5>-->
                                       <!--<p class="bottom-adjunct-add-position">-->
                                           <!--<a href class="" ng-click="addAResumePosition()">-->
                                               <!--<span class=""><i class="fa fa-plus "></i> Add a position</span>-->
                                           <!--</a>-->

                                       <!--</p>-->
                                    <!--<div id="experience-container-edit" ng-repeat="resumePosition in user.resumePositions">-->
                                        <!--[<a href class="" ng-click="removeAResumePosition(resumePosition)">-->
                                            <!--<span class="">X</span>-->
                                        <!--</a>]-->
                                    <!--<li>-->
                                        <!--<label>Institution Name <abbr title="Required" class="required">*</abbr></label>-->
                                        <!--<div class="fieldgroup">-->
                                            <!--<div class="institution">-->
                                                    <!--<input type="text" class="form-control form-inline input-sm profile-forms position-edit-form"-->
                                                    <!--name="experience1Institution" ng-model="resumePosition.institution" maxlength="100">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<label>Title </label>-->
                                        <!--<div class="fieldgroup">-->
                                            <!--<div class="institution">-->
                                                <!--<input type="text" class="form-control form-inline input-sm profile-forms position-edit-form"-->
                                                       <!--name="experience1Title" ng-model="resumePosition.title " maxlength="100">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li >-->
                                        <!--<label>Location <abbr title="Required" class="required">*</abbr></label>-->
                                        <!--<div class="fieldgroup">-->
                                            <!--<div class="institution">-->
                                                <!--<input type="text" class="form-control form-inline input-sm profile-forms position-edit-form"-->
                                                       <!--name="experience1Location" ng-model="resumePosition.location  " maxlength="100">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li class="time-period" id="time-period" style="display:inline!important;">-->
                                            <!--<fieldset style="display:inline!important;">-->
                                                <!--<legend>-->
                                                <!--<span>Time Period <abbr title="Required" class="required">*</abbr></span>-->
                                                <!--</legend>-->
                                                <!--<ul>-->
                                                    <!--<li class="start-date" style="display:inline!important;">-->
                                                        <!--<span><select ng-model="resumePosition.startMonth" class="edit-month" ng-options="m for m in months" class="" required style="display:inline!important;">-->
                                                        <!--<option value="">choose...</option></select>-->
                                                        <!--<label style="display:none;" >Year</label>-->
                                                        <!--<input type="text" class="form-control form-inline input-sm profile-forms year"-->
                                                        <!--name="experience1TimePeriodYear " ng-model="resumePosition.startYear" maxlength="4" placeholder="Year"style="display:inline!important;">-->
                                                        <!--<span class="to">-</span></span>-->
                                                    <!--</li>-->
                                                    <!--<li class="end-date"  style="display:inline!important;">-->
                                                        <!--<div class="ended-position" style="display:inline!important;">-->
                                                        <!--<span ng-hide="resumePosition.stillHere"><select ng-model="resumePosition.endMonth" class="edit-month" ng-options="m for m in months" class="" required style="display:inline!important;">-->
                                                            <!--<option value="">choose...</option></select>-->
                                                        <!--<label style="display:none;" >Year</label>-->
                                                        <!--<input type="text" class="form-control form-inline input-sm profile-forms year"-->
                                                               <!--name="experience1TimePeriodYear " ng-model="resumePosition.endYear"  maxlength="4" placeholder="Year" style="display:inline!important;"></span>-->
                                                        <!--<span ng-show="resumePosition.stillHere">to present</span>-->
                                                        <!--</div>-->

                                                        <!--<label class="checkbox" id="still-here">-->
                                                        <!--<input type="checkbox" ng-model="resumePosition.stillHere">-->
                                                            <!--I currently work here-->
                                                        <!--</label>-->
                                                    <!--</li>-->
                                                <!--</ul>-->
                                            <!--</fieldset>-->
                                            <!--</li>-->
                                            <!--<li id="experience-summary">-->
                                                <!--<label>Description</label>-->
                                                <!--<div class="fieldgroup">-->
                                                    <!--<textarea name="experience1Summary" class="edit-experience" cols="80" rows="6" ng-model="resumePosition.description "></textarea>-->
                                                <!--</div>-->
                                                <!--<button type="button" class="btn btn-xs btn-primary" ng-click="saveBottomCard()">Save</button>-->
                                                <!--<button type="button" class="btn btn-xs btn-primary" ng-click="saveBottomCard()">Cancel</button>-->
                                            <!--</li>-->




                                <!--</ul>-->

                            <!--</form>-->


                <!--<div class="profile-edit">-->
                    <!--&lt;!&ndash; button to show form &ndash;&gt;-->
                    <!--<button type="button" class="btn btn-xs btn-primary" ng-click="saveBottomCard()">Save</button>-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-xs" ng-click="cancelBottomCard()">Cancel</button>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                    <!--</div>-->

                <!--</div>-->

            <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
