<div id="badge-edit-modal" class="modal">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content modal-content-custom">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body" style="padding-left:10px;padding-right:10px;" >
                <div id="badges-form-wrapper">
                    <form name="badgeForm">
                        <div id="header">Technological tools competencies:</div>

                        <div id="content" >
                            <div id="content-left">
                                <input type="checkbox" ng-model="user.badges.blackboard" ng-true-value="blackboard"><img class="badge-form-thumb" ng-src="/img/badges/blackboard.png"/><small>Blackboard</small><br/>
                                <input type="checkbox" ng-model="user.badges.canvas" ng-true-value="canvas"><img class="badge-form-thumb" ng-src="/img/badges/canvas.png"/><small>Canvas</small><br/>
                                <input type="checkbox" ng-model="user.badges.desire2learn" ng-true-value="desire2learn"><img class="badge-form-thumb" ng-src="/img/badges/desire2learn.png"/><small>Desire2Learn</small><br/>
                                <input type="checkbox" ng-model="user.badges.sakai" ng-true-value="sakai"><img class="badge-form-thumb" ng-src="/img/badges/sakai.png"/><small>Sakai</small><br/>
                                <input type="checkbox" ng-model="user.badges.softchalk" ng-true-value="softchalk"><img class="badge-form-thumb" ng-src="/img/badges/softchalk.png"/><small>SoftChalk</small><br/>
                            </div>
                            <div id="content-right">
                                <input type="checkbox" ng-model="user.badges.connect"ng-true-value="connect"><img class="badge-form-thumb" ng-src="/img/badges/connect.png"/><small>Adobe Connect</small><br/>
                                <input type="checkbox" ng-model="user.badges.captivate"ng-true-value="captivate"><img class="badge-form-thumb" ng-src="/img/badges/captivate.png"/><small>Adobe Captivate</small><br/>
                                <input type="checkbox" ng-model="user.badges.camtasia"ng-true-value="camtasia"><img class="badge-form-thumb" ng-src="/img/badges/camtasia.png"/><small>Camtasia</small><br/>
                                <input type="checkbox" ng-model="user.badges.omeka"ng-true-value="omeka"><img class="badge-form-thumb" ng-src="/img/badges/omeka.png"/><small>Omeka</small><br/>
                                <input type="checkbox" ng-model="user.badges.zotero"ng-true-value="zotero"><img class="badge-form-thumb" ng-src="/img/badges/zotero.png"/><small>Zotero</small><br/>
                            </div>
                        </div>
                        <div id="footer">
                            <input type="checkbox" ng-model="user.badges.powerpoint"ng-true-value="powerpoint"><img class="badge-form-mini-thumb" ng-src="/img/badges/powerpoint.png"/><small>PowerPoint</small>
                            , <input type="checkbox" ng-model="user.badges.prezi" ng-true-value="prezi"><img class="badge-form-mini-thumb" ng-src="/img/badges/prezi.png"/><small>Prezi</small>
                            , <input type="checkbox" ng-model="user.badges.keynote" ng-true-value="keynote"><img class="badge-form-mini-thumb" ng-src="/img/badges/keynote.png"/><small>Keynote</small>
                            , <input type="checkbox" ng-model="user.badges.handBrake" ng-true-value="handBrake"><img class="badge-form-mini-thumb" ng-src="/img/badges/handbrake.png"/><small>HandBrake</small></span>
                            , <input type="checkbox" ng-model="user.badges.audacity" ng-true-value="audacity"><img class="badge-form-mini-thumb" ng-src="/img/badges/audacity.png"/><small>Audacity</small>
                            , <input type="checkbox" ng-model="user.badges.explaineverything" ng-true-value="explaineverything"><img class="badge-form-mini-thumb" ng-src="/img/badges/explaineverything.png"/><small>ExplainEverything</small>
                            , <input type="checkbox" ng-model="user.badges.ibookauthor" ng-true-value="ibookauthor"><img class="badge-form-mini-thumb" ng-src="/img/badges/ibookauthor.png"/><small>iBookAuthor</small>
                        </div>
                        <div id="bottom"></div>

                    </form>
                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal" ng-click="saveBadgeCard()">Save</button>
                <button type="button" class="btn btn-xs" data-dismiss="modal">Cancel</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->