<div class="list-group col-md-12" style="padding:0;">
    <div class="bottom-card-profile-actions" style="border-bottom: 1px solid #5e5e67;background-color: #e1e1e1;height:43px;margin-bottom:25px;">
    <ul style="display: table-cell; padding: 10px 0px;float:left;">
    <li style="padding-top: 4px; padding-bottom: 2px; padding-left: 10px; padding-right: 0px; font-size: 11px; line-height: 1.2em;">
    <span style="font-size:12px;"><i class="fa fa-eye fa-lg"></i> Multimedia Resume</span>
    </li>
    </ul>

    <div ng-show="isEditMode" ng-click="openBadgeEditModal()" class="top-card-profile-right-actions" style="display: table-cell;border-left: 1px solid #ccc;padding: 12px 15px 7px 15px; background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec 0%,#e1e1e1 100%);height:42px;font-size: 13px;vertical-align: middle; cursor: pointer;float:right;">
    <i class="fa fa-pencil-square-o fa-lg"></i>
    </div>

    </div>
        <div class="list-group-item-custom list-item-badge-section" style="position: relative; padding-right: 0px; padding-top: 0px;padding-left: 0px;padding-bottom: 20px;padding-top: 0px">
            <div class="badges-container" style="">
                <h6 id="h6-text" style="font-weight: normal; font-size: 12px;margin-right:0;padding-left: 3px;">Learning Management Systems:</h6>
                <ul class="badge" style="padding-left: 0px;">
                    <li ng-repeat="badge in filteredBadges" class="badge-thumbnail">
                        <img ng-src="/img/badges/{{badge}}.png" alt="" style="width: 45px;height: 45px;"/>
                    </li>
                </ul>
            </div>
        </div>
    <div class="list-group-item-custom list-group-item-customize-left list-item-badge-section">
        <div class="competency-title-badge-section"><span style="">Syllabus Design</span></div><div class="competency-title-badge-section"><span class="percentage-title-badge-section">{{syllabusDesignWidth}}%</span></div>
        <div class="progress progress-custom progress-custom-badge-section">
            <div id="syllabusDesign"class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="syllabusDesign">
            </div>
        </div></div>
    <div class="list-group-item-custom list-group-item-customize-left list-item-badge-section">
        <div class="competency-title-badge-section"><span>Technology Enabled Instruction</span></div><div class="competency-title-badge-section"><span class="percentage-title-badge-section"> {{technologyDesignWidth}}%</span></div>
        <div class="progress progress-custom progress-custom-badge-section">
            <div id="technologyDesign" class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ng-style="technologyDesign">
            </div>
        </div></div>
    <div class="list-group-item-custom list-group-item-customize-left list-item-badge-section">
        <div class="competency-title-badge-section"><span>Student Centered Feedback</span></div><div class="competency-title-badge-section"><span class="percentage-title-badge-section">{{studFeedbackWidth}}%</span></div>
        <div class="progress progress-custom progress-custom-badge-section">
            <div id="studFeedback" class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"  ng-style="studFeedback">
            </div>
        </div></div>
    <div class="list-group-item-custom list-group-item-customize-left list-item-badge-section">
        <div class="competency-title-badge-section"><span>Summative Feedback</span></div><div class="competency-title-badge-section"><span class="percentage-title-badge-section">{{sumFeedbackWidth}}%</span></div>
        <div class="progress progress-custom progress-custom-badge-section">
            <div id="sumFeedback" class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" ng-style="sumFeedback">
            </div>
        </div></div>
    <div class="list-group-item-custom list-group-item-customize-left list-item-badge-section">
        <div class="competency-title-badge-section">Instructional Design:</div><hr class="badge-section-hr">
        <div class="competency-title-badge-section">{{user.survey.instructionalDesign}}</div>
       </div>
    <div class="list-group-item-custom list-group-item-customize-left list-item-badge-section">
        <div class="competency-title-badge-section">Scholarly &amp; Professional contribution :</div><hr class="badge-section-hr">
        <div class="competency-title-badge-section">{{user.survey.instructionalDesign}}</div>
    </div>
</div>