
<div class="list-group col-md-12" >
    <div class="list-group-item list-group-item-custom list-group-item-customize-left" style=" position: relative; padding-right: 0px; padding-top: 0px;padding-bottom: 20px; ">
        <button class="btn btn-lg btn-primary edit-buttons " id="edit-badges" type="submit" style="position: relative; float:right; clear:both; border-radius:0px 3px 0px 3px" ng-click="openBadgeEditModal()" >
            <i class="fa fa-pencil-square-o fa-lg edit-buttons"></i></button>

        <div class="badges-container" style="margin-top: 35px;">

            <ul class="badges" style="padding-left: 0px;">
                <li ng-repeat="badge in badges" class="badge-thumbnail">
                    <img ng-src="{{badge.imageUrl}}" alt="" style="width: 45px!important;height: 45px!important;"/>
                </li>
            </ul>

        </div>
        <br /><br/>

        </div>






    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6 id="h6-text">TEACH WITH TEXT</h6>
        <div class="progress progress-custom">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6 >TEACH WITH VIDEO</h6>
        <div class="progress progress-custom">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">80% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6>FORMATIVE FEEDBACK</h6>
        <div class="progress progress-custom ">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">20% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6>SUMMATIVE FEEDBACK</h6>
        <div class="progress progress-custom">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">30% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6>INSTRUCTIONAL DESIGN</h6>
        <div class="progress progress-custom">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">10% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6>LMS EXPERIENCE</h6>
        <div class="progress progress-custom ">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="05" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">5% Complete</span>
            </div>
        </div></a>




</div>