<div id="badge-edit-modal" class="modal">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content modal-content-custom">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body" style="padding-left:10px;padding-right:10px;" >
                <div id="badges-form-wrapper">
                    <form name="badgeForm">
                        <div id="header">Technological tools competencies:</div>

                        <div id="content" >
                            <div id="content-left">
                                <input type="checkbox" ng-model="user.badge.blackboard"><img class="badge-form-thumb" ng-src="/img/badges/uni-blackb-badge.png"/><small>Blackboard</small><br/>
                                <input type="checkbox" ng-model="user.badge.canvas"><img class="badge-form-thumb" ng-src="/img/badges/uni-canvas-badge.png"/><small>Canvas</small><br/>
                                <input type="checkbox" ng-model="user.badge.desire2learn"><img class="badge-form-thumb" ng-src="/img/badges/uni-desire-badge.png"/><small>Desire2Learn</small><br/>
                                <input type="checkbox" ng-model="user.badge.sakai"><img class="badge-form-thumb" ng-src="/img/badges/uni-sakai-badge.png"/><small>Sakai</small><br/>
                                <input type="checkbox" ng-model="user.badge.softchalk"><img class="badge-form-thumb" ng-src="/img/badges/uni-softchalk-badge.png"/><small>SoftChalk</small><br/>
                            </div>
                            <div id="content-right">
                                <input type="checkbox" ng-model="user.badge.connect"><img class="badge-form-thumb" ng-src="/img/badges/uni-connect-badge.png"/><small>Adobe Connect</small><br/>
                                <input type="checkbox" ng-model="user.badge.captivate"><img class="badge-form-thumb" ng-src="/img/badges/uni-captivate-badge.png"/><small>Adobe Captivate</small><br/>
                                <input type="checkbox" ng-model="user.badge.camtasia"><img class="badge-form-thumb" ng-src="/img/badges/uni-camtasia-badge.png"/><small>Camtasia</small><br/>
                                <input type="checkbox" ng-model="user.badge.omeka"><img class="badge-form-thumb" ng-src="/img/badges/uni-omeka-badge.png"/><small>Omeka</small><br/>
                                <input type="checkbox" ng-model="user.badge.zotero"><img class="badge-form-thumb" ng-src="/img/badges/uni-zotero-badge.png"/><small>Zotero</small><br/>
                            </div>
                        </div>
                        <div id="footer">
                            <input type="checkbox" ng-model="user.badge.powerpoint"><img class="badge-form-mini-thumb" ng-src="/img/badges/uni-powerpoint-badge.png"/><small>PowerPoint</small>
                            , <input type="checkbox" ng-model="user.badge.prezi"><img class="badge-form-mini-thumb" ng-src="/img/badges/uni-prezi-badge.png"/><small>Prezi</small>
                            , <input type="checkbox" ng-model="user.badge.keynote"><img class="badge-form-mini-thumb" ng-src="/img/badges/uni-keynote-badge.png"/><small>Keynote</small>
                            , <input type="checkbox" ng-model="user.badge.handBrake"><img class="badge-form-mini-thumb" ng-src="/img/badges/uni-handbrake-badge.png"/><small>HandBrake</small></span>
                            , <input type="checkbox" ng-model="user.badge.audacity"><img class="badge-form-mini-thumb" ng-src="/img/badges/uni-audacity-badge.png"/><small>Audacity</small>
                            , <input type="checkbox" ng-model="user.badge.explaineverything"><img class="badge-form-mini-thumb" ng-src="/img/badges/uni-explaineverything-badge.png"/><small>ExplainEverything</small>
                            , <input type="checkbox" ng-model="user.badge.ibookauthor"><img class="badge-form-mini-thumb" ng-src="/img/badges/uni-ibookauthor-badge.png"/><small>iBookAuthor</small>
                        </div>
                        <div id="bottom"></div>

                    </form>
                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-primary" ng-click="saveBadgeCard()">Save</button>
                <button type="button" class="btn btn-xs " data-dismiss="modal">Cancel</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->