<div class="list-group col-md-12" >

    <!--<div id="badges-container" style="margin-top: 6px !important;">-->
    <!--<span class="well" style="background-color: white;margin-top:10px;margin-right:5px !important; padding:7px 6px; ">-->
    <!--<span><img class="profile-badge-img"src="img/badges/D2L.png" height=20px /><img class="profile-badge-img" src="img/badges/adobeconnect.png" height=30px /><img class="profile-badge-img" src="img/badges/blackboard.png" height=20px /><img class="profile-badge-img" src="img/badges/softchalk.png" height=20px /></span>-->
    <!--</span>-->
    <!--</div>-->
    <!--<a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">-->
        <!--<br /><br />-->
        <!--&lt;!&ndash;<row>&ndash;&gt;-->
            <!--&lt;!&ndash;<span><img class="profile-badge-img"src="img/badges/D2L.png" height=35px />&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="profile-badge-img" src="img/badges/adobeconnect.png" height=30px />&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="profile-badge-img" src="img/badges/blackboard.png" height=20px /><img class="profile-badge-img" src="img/badges/softchalk.png" height=20px /></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</row>&ndash;&gt;-->
        <!--<br /><br /><br /><br /><br /><br /><br /></a>-->
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6 id="h6-text">TEACH WITH TEXT</h6>
        <div class="progress progress-custom">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6 >TEACH WITH VIDEO</h6>
        <div class="progress progress-custom">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">80% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6>FORMATIVE FEEDBACK</h6>
        <div class="progress progress-custom ">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">20% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6>SUMMATIVE FEEDBACK</h6>
        <div class="progress progress-custom">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">30% Complete</span>
            </div>
        </div></a>
    <!--<a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">-->
        <!--<h6>INSTRUCTIONAL TECHNOLOGIES</h6>     </a>-->
    <!--<a href="#" class="list-group-item list-group-item-customized">-->
 <!---->
    <!--</a>-->

    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6>INSTRUCTIONAL DESIGN</h6>
        <div class="progress progress-custom">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">10% Complete</span>
            </div>
        </div></a>
    <a href="#" class="list-group-item list-group-item-custom list-group-item-customize-left">
        <h6>LMS EXPERIENCE</h6>
        <div class="progress progress-custom ">
            <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="05" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">5% Complete</span>
            </div>
        </div></a>




</div>