<div class="col-md-offset-2 col-md-10">
    <br/>
    <br/>
    <div class="clearfix">
        <fieldset>
            <legend>{{user.firstName}}, let's start creating your Adjunct profile</legend>
        </fieldset>
        <form name="basicProfileForm" class="css-form" novalidate>
            <table>
                <tr>
                    <td>
                        <label>Country<abbr title="This is a required field." class="required" style="color:#EB7737;">*</abbr></label>
                    </td>
                    <td>
                        <input class="basic-profile-form-select" ui-select2="countrySelectOptions" ng-model="user.country" data-placeholder="Select a country" style="min-width: 300px" />
                    </td>
                </tr>
                <tr>
                    <td><label>City<abbr title="This is a required field." class="required" style="color:#EB7737;">*</abbr></label>
                    </td>
                    <td><input type="text" name="userCity" class="form-control basic-profile-form"
                               ng-model="user.city" required style="width:300px;" />

                        <div ng-show="basicProfileForm.userCity.$dirty && basicProfileForm.userCity.$invalid">
                            <span ng-show="basicProfileForm.userCity.$error.required" style="color:#EB7737;">Please enter a value.</span>
                        </div>
                    </td>
                    <!--<td>-->
                        <!--<label>Zip Code<abbr title="This is a required field." class="required" style="color:#EB7737;">*</abbr></label>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input type="text" name="userZipCode" ng-model="user.zipCode"-->
                               <!--class="form-control basic-profile-form" required-->
                               <!--ng-pattern="/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/" numbers-only maxlength="5" />-->
                        <!--<span ng-show="basicProfileForm.userZipCode.$error.pattern" style="color:#EB7737">This is not a valid Zip Code.</span>-->

                        <!--<div ng-show="basicProfileForm.userZipCode.$dirty && basicProfileForm.userZipCode.$invalid && !basicProfileForm.userZipCode.$error.pattern">-->
                            <!--<span ng-show="basicProfileForm.userCountry.$error.required" style="color:#EB7737">Please enter your Zip Code.</span>-->
                        <!--</div>-->
                    <!--</td>-->
                </tr>

                <tr>
                    <td>I am currently</td>
                    <td>
                        <input type="checkbox" ng-model="student"> a Student &nbsp;
                        <input type="checkbox" ng-model="employed"> Employed &nbsp;
                        <input type="checkbox" ng-model="available"> Open to new opportunities &nbsp;
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><p class="help-block profile-card-table-th">Check all that apply.</p></td>
                </tr>
                <tr>
                    <!--<li>-->
                    <!--<input type="text" class="profile-forms" name="currentPosition"-->
                    <!--ng-model="user.currentPosition" maxlength="50" required-->
                    <!--placeholder="Position Title">-->
                    <!--- at <input type="text" class="profile-forms" name="currentInstitution"-->
                    <!--ng-model="user.currentInstitution" maxlength="50" required-->
                    <!--placeholder="Institution Name">-->
                    <!--</li>-->
                    <td><label>Your title<abbr title="This is a required field." class="required" style="color:#EB7737;">*</abbr></label>
                    </td>
                    <td><input type="text" name="userJobTitle" class="form-control basic-profile-form"
                               ng-model="user.jobTitle" placeholder="Adjunct Teacher" required style="width:300px;" />

                        <div ng-show="basicProfileForm.userJobTitle.$dirty && basicProfileForm.userJobTitle.$invalid">
                            <span ng-show="basicProfileForm.userJobTitle.$error.required" style="color:#EB7737;">Please enter a value.</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Specialty<abbr title="This is a required field." class="required" style="color:#EB7737;">*</abbr></label>
                    </td>
                    <td>
                        <input class="basic-profile-form-select" ui-select2="specialtySelectOptions" ng-model="user.field" data-placeholder="Select a specialty" style="min-width: 300px" />
                    </td>
                </tr>
                <tr>
                    <td><label>Educational Institution<abbr title="This is a required field." class="required"
                                                            style="color:#EB7737;">*</abbr></label></td>
                    <td>
                        <input class="basic-profile-form-select" ui-select2="institutionSelectOptions" ng-model="user.institution" data-placeholder="Select an institution" style="min-width: 300px" />
                    </td>
                </tr>
                <tr>
                    <td><label>Highest Education<abbr title="This is a required field." class="required"
                                                            style="color:#EB7737;">*</abbr></label></td>
                    <td>
                        <input class="basic-profile-form-select" ui-select2="educationDegreeSelectOptions" ng-model="user.educationDegree" data-placeholder="Select a Degree" style="min-width: 300px" />
                    </td>
                </tr>
                <tr>
                    <td>I am currently</td>
                    <td>
                        <input type="checkbox" ng-model="educationDegreeCompleted"> Completed&nbsp;
                        <input type="checkbox" ng-model="educationDegreeInProgress"> In progress &nbsp;
                        <input type="checkbox" ng-model="educationDegreeDropOut"> Dropped Out&nbsp;
                    </td>
                </tr>

                <tr>
                    <td>
                        <br/>
                    </td>
                    <td>
                        <br/>
                        <div class="controls">

                            <a class="signup-page" type="submit" ng-click="manuallyCreateProf()" style="width: 330px;height:38px;vertical-align:bottom; margin-left: 0px;float: left;border: solid 1px #555;color: #555;text-align: center;">
                                <i class="fa fa-file-text-o" ></i> Your profile is ready</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>


