

<div id="competency-portfolio-modal" class="modal">
    <div class="modal-dialog modal-dialog-custom-competency-portfolio">
        <div class="modal-content" style="height:550px;width:850px;margin-left:-110px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
        <table>
            <tr>
                <td style="padding-right:10px;padding-left:10px;"><strong>Syllabus Design</strong></td>
                <td style="width:300px;padding-left:10px;padding-right:10px;"><div id="syllabusDesignPercent">60%</div>
                    <div class="progress progress-custom">
                        <div id="syllabusDesign"class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div></a></td>
                <td style="width:300px;padding-left:10px;padding-right:10px;"><div class="panel-group middle-card  col-md-12" id="accordion"
                         style="padding-left:0px !important;padding-right:0px !important;">
                    <div class="panel panel-default" style="padding: 0 0 0 0 !important;">

                        <div class="panel-body" style="padding: 0 0 0 0 !important;">
                            <div class="panel-body portfolio-middle-card" style="padding: 0 0 0 0 !important;">
                                <div id="media-container" style="border-top: 9px solid #101010;border-bottom: 9px solid #101010;">

                            <span><ul class="video-thumbnails">
                                <li ng-repeat="videoId in user.videoIds" class="video-thumbnail">
                                    <a ng-click="openVideoModal(videoId)">
                                        <img ng-src="http://img.youtube.com/vi/{{videoId}}/2.jpg" alt="" height=55px/>
                                    </a>
                                </li>
                            </ul>
                            <a href="/files/cv.pdf"><img src="/img/PortfolioIconResume.png" height=55px/></a>
                            <a href="/files/syllabus.pdf"><img src="/img/PortfolioIconSyllabus.png" height=55px/></a>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></td>
            </tr>

        </table>





    </div>

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




