
<div class=" col-md-offset-2 col-md-12 ">

    <div class="panel panel-default">
        <div class="panel-body">
            <br/>  <br/><br/><br/><br/>    <br/>  <br/><br/><br/><br/>
            <div class="panel" style="background: chocolate">
                Confirm Your Email Address <br/>
                A confirmation email has been sent to       {{user.email}}
                <!--<button class="btn btn-primary" ng-click= "confEmail()">email</button>-->

                Click on the confirmation link in the email to activate your account.
            </div>
            <br/>  <br/><br/><br/><br/>    <br/>  <br/><br/><br/><br/>
            <br/>  <br/><br/><br/><br/>    <br/>  <br/><br/><br/><br/>

        </div>
    </div>




</div>