<div class="container">
    <div class="row">


        <div class="col-lg-8">
            <div class="get-in-touch" style="padding-top:74px;">
                <h3 style=" margin-bottom:0px;margin-left:0px;margin-right:0;color:#666">CONTACT US</h3><hr style="margin-top:10px;margin-bottom:40px;">
                <div class="form-group">
                    <input type="text" class="form-control sign-up-form" id="name" placeholder="Name" ng-model="email.userName" required/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="Email" placeholder="Email" ng-model="email.userEmail" required/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Message" ng-model="email.body" required></textarea>
                </div>
                <button ng-click="send()" class="btn btn-primary btn-sm btn-block" role="button" style="background-color: #D06D12; border-color:#d0c2b1;">Send it!</button>
            </div>
        </div>
    </div>
    <div style="color: green">{{responseMessage}}</div>
</div>

<div ng-include="'/partial/signin-modal'"/>
<div ng-include="'/partial/signup-modal'"/>