<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="get-in-touch" style="margin-left:0px;margin-right:0;">
                <h3 style=" margin-bottom:0px;margin-left:0px;margin-right:0;">ABOUT US</h3><hr style="margin-top:10px;">
                <p><strong>For Higher Education Institutions...</strong></br>
                   Adjuncts.co helps Universities assess and select the best candidates for your open positions, then track and benchmark performance all the way through to student outcomes.</p>
                <p><strong>For Adjunct Professors...</strong></br>
                   Adjuncts.co helps adjunct professors improve their ability to connect with quality academic institutions that offer higher pay and benefits, better resources,
                   and promote quality education. Bottom line... the best schools with the best fit for you.
                </p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="get-in-touch">
                <h3 style=" margin-bottom:0px;margin-left:0px;margin-right:0;">CONTACT US</h3><hr style="margin-top:10px;margin-bottom:40px;">
                <div class="form-group">
                    <input type="text" class="form-control sign-up-form" id="name" placeholder="Name" ng-model="email.userName" required/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="Email" placeholder="Email" ng-model="email.userEmail" required/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Message" ng-model="email.body" required></textarea>
                </div>
                <button ng-click="send()" class="btn btn-primary btn-sm btn-block" role="button" style="background-color: #D06D12; border-color:#d0c2b1;">Send it!</button>
            </div>
        </div>
    </div>
    <div style="color: green">{{responseMessage}}</div>
</div>