<div class="container">
    <div class="row">
        <div class="col-mid-4">
            <div class="get-in-touch">
                <h3 class="text-center">
                    Get in Touch</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="email.userName" required/>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="Email" placeholder="Email" ng-model="email.userEmail" required/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Message" ng-model="email.body" required></textarea>
                </div>
                <button ng-click="send()" class="btn btn-primary btn-sm btn-block" role="button" style="background-color: #D06D12; border-color:#d0c2b1;">Send it!</button>
            </div>
        </div>
    </div>
    <div style="color: green">{{responseMessage}}</div>
</div>