

<div ng-init="init()" class="jumbotron banner " style="height:521px;margin-top: -25px;">
    <div class="container">
        <div class="home-banner-left" style="margin-top:130px;width:500px;float:left;">
            <h2 style="font-size:21px;margin-bottom: 40px" >Adjuncts is a job marketplace custom-tailored to the needs of Academia.</h2>
            <div class="input-group">
                <input type="text" class="form-control" ng-enter="search()" ng-model="searchBox" placeholder="Search by university, discipline, qualification, location and more...">
                      <span class="input-group-btn">
                          <button class="btn btn-default btn-custom" type="button" ng-click="search()">Go!</button>
                      </span>
            </div>

          </div>
        <div class="home-banner-right" style="width:320px; padding-right:5px; float:right;margin-top:30px;margin-bottom:30px!important;">
        <div ng-include="bannerSignupFormUrl" />
        </div>
      </div>
</div>

<div class="container marketing" align="center">
    <div class="row featurette">
        <div class="col-md-4 home-bottom-text">
            <h3 class="featurette-heading">Colleges and Universities</h3>
            <p>
                Search and find qualified adjunct professors from all disciplines.
                Read peer and students reviews and view teaching videos of potential candidates.
                Know the candidate beyond the resume in order to hire the right talent.
            </p>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <h3 class="featurette-heading"><span class="text-muted">Adjunct Faculty</span></h3>
            <p>
                Search our database of universities that are currently hiring adjuncts.
                Keep your profile current and stay relevant in today’s market.
                Showcase your talents and upgrade your skillset by acquiring additional certifications.
            </p>
        </div>
    </div>
</div>


