
<div ng-init="init()" class="jumbotron banner col-md-12 main-banner" style="height:430px;">
    <div class="container bannerText">
        <div class="col-md-10 col-md-offset-1 banner-text" style="margin-top:90px;">
            <!--<h1 class="lead" style="color:#121e1e">Need to find qualified adjunct professors?</h1>-->
            <!--<h2>Looking for a wonderful place to teach?</h2>-->
            <!--<p style="color:#333333">We're here to make the match. The tenure track hiring process in higher education has become obsolete. Universities employ 75% of their teaching staff in an adjunct capacity.-->
                <!--Universities often have a short time frame to find qualified instructors and traditional career websites are ill-suited for academia. We're here to match universities with qualified -->
                <!--adjunct faculty.</p>-->
            <h2>Adjuncts is a job marketplace custom-tailored to the needs of Academia.</h2>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by university, discipline, qualification, location and more...">
                      <span class="input-group-btn">
                          <button class="btn btn-default btn-custom" type="button" onclick="location.href='/search-results'">Go!</button>
                      </span>
            </div>
          </div>
      </div>
</div>

<div class="container marketing" align="center">
    <div class="row featurette">
        <div class="col-md-4 home-bottom-text">
            <h3 class="featurette-heading">Colleges and Universities</h3>
            <p>
                Search and find qualified adjunct professors from all disciplines.
                Read peer and students reviews and view teaching videos of potential candidates.
                Know the candidate beyond the resume in order to hire the right talent.
            </p>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <h3 class="featurette-heading"><span class="text-muted">Adjunct Faculty</span></h3>
            <p>
                Search our database of universities that are currently hiring adjuncts.
                Keep your profile current and stay relevant in today’s market.
                Showcase your talents and upgrade your skillset by acquiring additional certifications.
            </p>
        </div>
    </div>
</div>


