<div id="top-card" class="panel panel-default col-md-12"
     style="position: relative;padding-left:5px !important;padding-right:5px !important; padding-bottom: 0px !important; margin-bottom: 5px !important">

    <div class="panel-body profile-top-card">
        <div class="profile-picture">
            <span ng-if="institution.imageName">
                <img class="img-thumbnail pull-left" ng-src="https://s3.amazonaws.com/Adjuncts/{{institution.imageName}}"/>
            </span>
            <div ng-if="!institution.imageName" class="no-institution-picture">
                <!--<i class="fa fa-shield" style="font-size:8em"></i>-->
                <div class="addPictLink">
                    <a href="#" id="a-custom"ng-click="openPictureUploadModal()">
                        <span style= "color: #070000;">
                            <img src="/img/icon_add_photo_27x27_v1.png" /> Add a photo
                        </span>
                    </a>
                    <!--<button type="button" class="btn" bs-modal="'partial/upload-picture-modal'">...</button>-->
                </div>
            </div>
        </div>

        <div class="profile-overview-content">
            <div class="lead lead-custom masthead">
                <div id="name-container">
                    <h2>
                        <span>{{ institution.name|| 'Bay State College' }}</span>
                        -
                        <span>{{ institution.institutionTitle|| 'Community College' }} </span>
                    </h2>
                </div>
                <div class="text-muted" id="demographic-info">
                    <span>in {{ institution.locationCity || 'Boston' }}</span>
                    <span>, {{ institution.locationState|| 'MA' }}</span>
                </div>
            </div>
                <br/>
            <div>
                <a href="">Bay State College</a> is a for-profit career college in Boston, Massachusetts. Bay State College opened
                in 1946 to serve the airline industry. In 1961, it moved to its current location in the Back Bay.
                <a href=""><small>read more</small></a>
                <br />
                <br />
                <br />
                <br />
                <small><strong>{{institution.name||'Bay State College'}}</strong> posted <strong>{{institution.jobs||'5'}}</strong> jobs</small>
            </div>

        </div>
    </div>





    <button type="button" class="btn btn-md btn-primary edit-buttons"  id="edit-top-card"style="position:absolute; right: 0px ; bottom: 0px ;border-radius:3px 0px 3px 0px" ng-click="editTopCard()"><i class="fa fa-pencil-square-o fa-lg"></i> Edit Profile</button>
    <!--<button class="btn btn-lg btn-primary " id="edit-badges" type="submit" style="position: relative; float:right; clear:both; border-radius:0px 3px 0px 3px" ng-click="openBadgeEditModal()" >-->
    <!--<i class="fa fa-pencil-square-o fa-lg"></i></button>-->
</div>


