<% if (locals.institutionId) { %>
<div id="institutionId" style="display:none"><%= locals.institutionId %></div>
<% } %>
<div class="container">
    <div class="panel col-md-9 custom-main-left-panel">
        <div ng-include="topCardInstitutionTemplateUrl" />

    </div>
    <div class="col-md-3 sidebar-offcanvas" id="sidebar2" role="navigation">
        <div ng-include="'/partial/adjuncts-saved-jobs-column'" />
        <div ng-include="'/partial/adjuncts-profile-right-bottomSide-column'" />
    </div>
</div>

<div ng-include="'/partial/upload-picture-modal'" />

