<% if (locals.institutionId) { %>
<div id="institutionId" style="display:none"><%= locals.institutionId %></div>
<% } %>
<div class="container">
    <div class="panel col-md-9 custom-main-left-panel">
        <div ng-include="topCardInstitutionTemplateUrl" />

    </div>
    <div class="col-md-3 sidebar-offcanvas" id="sidebar2" role="navigation">
        <div ng-include="rightTopSideColumnUrl" />
        <div ng-include="rightBottomSideColumnUrl" />
    </div>
</div>

<div ng-include="uploadPictureModalUrl" />

