<div id="top-card-job" class="panel profiles-panel col-md-12">
    <div class="panel-body profile-top-card">
<div class="profile-details-content">
            <form name="jobForm">
                <div id="name-container" class="form-group css-form" novalidate style="line-height:2;">
                        <div>
                        <ul>
                            <li>
                                <!--<label><i class="fa fa-home"></i> Address <small>(async via maps.googleapis.com)</small></label>-->
                                <!--<input type="text" class="profile-forms edit-positionType " ng-model="selectedAddress"  typeahead="address.formatted_address for address in getAddress($viewValue)" placeholder="Enter address">-->
                                <label>Job Position <abbr title="Required" class="required">*</abbr></label>
                                <input type="text" typeahead="positionType for positionType in positionTypes | filter:$viewValue | limitTo:10" class="profile-forms edit-positionType" ng-model="job.positionType"   maxlength="50" required style="width:212px;" />
                                - <label>Academic Discipline <abbr title="Required" class="required">*</abbr>  </label>
                                <input type="text" typeahead="field for field in fieldGroups | filter:$viewValue | limitTo:10" class="profile-forms edit-positionType " ng-model="job.field" maxlength="50" required style="width:212px;" />
                            </li>
                            <li>
                                <label>Institution Name<abbr title="Required" class="required">*</abbr>  </label>
                                <input type="text" class="profile-forms" typeahead="institution for institution in institutions | filter:$viewValue | limitTo:10"  name="jobInstitution" ng-model="job.employer" maxlength="50" required style="width:310px;">
                                - <label>Contract Type <abbr title="Required" class="required">*</abbr></label>


                                <select ng-model="job.contractType" class="edit-positionType" ng-options="c._id as c.name for c in contractTypes" class="profile-forms edit-positionType" required style="width:128px">
                                    <option value="">choose...</option></select>
                            </li>
                            <br/>
                            <li>

                                <div class="fieldgroup">
                                        <label>Location</label>
                                        <label>Type<abbr title="Required" class="required">*</abbr></label>
                                        On Site <input type="checkbox" ng-model="onSite">
                                        Remote <input type="checkbox" ng-model="remote">
                                        <br/>
                                        <label>City <abbr title="Required" class="required">*</abbr></label>
                                        <input type="text" id="locality" class="profile-forms" name="jobLocationCity" ng-model="job.city"  typeahead="address.formatted_address for address in getAddress($viewValue)" maxlength="50" required >
                                      {{job.institution.name}}

                                        <!--<select ng-model="job.country" class="edit-positionType"  ng-options="c._id as c.name for c in countries" class="input-xlarge" required>-->
                                            <!--<option value="">choose...</option></select>-->
                                        <label>State <abbr title="Required" class="required">*</abbr></label>
                                        <input type="text" id="administrative_area_level_1" class="profile-forms"  typeahead="state for state in states | filter:$viewValue | limitTo:8" name="jobLocationState" ng-model="job.state" maxlength="50" required>
                                        <label>Country <abbr title="Required" class="required">*</abbr></label>
                                        <input type="text"  id="country" class="profile-forms" typeahead="country for country in countries | filter:$viewValue | limitTo:10" name="jobCountry" ng-model="job.country" required/>
                                </div>

                            </li>
                            <li>
                                <div class="fieldgroup">
                                    <label>Job Requirements</label> <br/>
                                    <label>Minimum Educational Requirements<abbr title="Required" class="required">*</abbr></label>
                                    <select ng-model="job.edDegree" class="edit-positionType"  ng-options="e._id as e.name for e in edDegrees" class="input-xlarge" required>
                                    <option value="">choose...</option></select> in <input type="text" class=" profile-forms " name="jobDegreeDiscipline" ng-model="job.degreeDiscipline" maxlength="50"><br/> -or- <select ng-model="job.edDegree" class="edit-positionType"  ng-options="e._id as e.name for e in edDegrees" class="input-xlarge" required>
                                    <option value="">choose...</option></select> in <input type="text" class=" profile-forms " name="jobDegreeDiscipline" ng-model="job.degreeDiscipline" maxlength="50"><a href=""><small> Add More </small></a>
                                    <br/>
                                    <label>Field of Expertise (comma separated) <abbr title="Required" class="required">*</abbr></label>
                                    <div id="tags-container">
                                        <tags-input ng-model="job.expertiseTags" class="expertise-tags"></tags-input>
                                    </div>

                                </div>

                            </li>
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="top-card-profile-actions" style="border-top: 1px dashed #5e5e67;background: #f6f6f6;height:35px;" id="jobDetails">
        <ul style="display: table-cell; padding: 0 0 8px;float:left;">
            <li style="padding-top: 8px; padding-bottom: 2px; padding-left: 0px; padding-right: 12px; font-size: 11px; line-height: 1.2em;">
            </li>
        </ul>
        <div class="action-bar-right">
            <i class="fa fa-caret-down fa-lg"></i> <a href="" scroll-to="jobDetails" offset="60" container="window"> Edit Job details</a>
        </div>

    </div>
</div>

