<div id="bottom-card" class="panel panel-default col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="panel-body profile-bottom-card">
        <div class="profile-details-content">
            <div id="experience-edit">

                <form class="form-group">

                    <ul>
                        <li>
                            <label>Job Description</label>
                            <div class="fieldgroup">
                                <textarea name="jobDescription" class="" cols="100" rows="6" ng-model="job.description"></textarea>
                            </div>
                        </li>
                        <li>
                            <label>Job Requirements</label>
                            <div class="fieldgroup">
                                <textarea name="jobRequirement" class="" cols="100" rows="6" ng-model="job.requirement"></textarea>
                            </div>
                        </li>
                        <li>
                            <label>Addtional Assets</label>
                            <div class="fieldgroup">
                                <textarea name="jobAssets" cols="100" rows="6" ng-model="job.assets"></textarea>
                            </div>
                        </li>
                        <li class="time-period" id="time-period">
                            <fieldset>
                                <legend>
                                    <span>Time Period <abbr title="Required" class="required">*</abbr></span>
                                </legend>
                                <ul>
                                    <li class="start-date" style="display:inline !important;">
                                        <select ng-model="user.month" class="edit-month" ng-options="m for m in months" style="display:inline!important;" required>
                                            <option value="">choose...</option>
                                        </select>
                                        <label style="display:none;">Year</label>
                                        <input type="text" class="form-control form-inline input-sm profile-forms year"
                                               name="experience1TimePeriodYear "
                                               ng-model="user.experience1TimePeriodYear" maxlength="4"
                                               placeholder="Year" style="display:inline!important;">
                                        <span class="to">-</span>
                                    </li>
                                    <li class="end-date" style="display:inline!important;">
                                        <div class="ended-position" style="display:inline!important;">
                                            <span ng-hide="user.stillHere">
                                            <select ng-model="user.month" class="edit-month"
                                                    ng-options="m for m in months" class=""
                                                    style="display:inline!important;" required>
                                                <option value="">choose...</option>
                                            </select>
                                            <label style="display:none;">Year</label>
                                            <input type="text"
                                                   class="form-control form-inline input-sm profile-forms year"
                                                   name="experience1TimePeriodYear "
                                                   ng-model="user.experience1TimePeriodYear" maxlength="4"
                                                   placeholder="Year" style="display:inline!important;">
                                            </span>
                                            <span ng-show="user.stillHere">to present</span>
                                        </div>
                                        <label class="checkbox" id="still-here">
                                            <input type="checkbox" ng-model="user.stillHere"
                                                   style="display:inline!important;">
                                            I currently work here
                                        </label>

                                    </li>
                                </ul>
                            </fieldset>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="top-card-profile-actions" style="border-top: 1px dashed #5e5e67;background: #f6f6f6;height:35px;">
                <ul style="display: table-cell; padding: 0 0 8px;float:left;">
                    <li style="padding-top: 8px; padding-bottom: 2px; padding-left: 0px; padding-right: 12px; font-size: 11px; line-height: 1.2em;">
                    </li>
                </ul>
                <div ng-show="canSaveJob" ng-click="saveBottomCard()" class="action-bar-right">
                    <i class="fa fa-bullhorn fa-lg"></i> Publish Job
                </div>
                <div ng-click="editTopCard()" class="action-bar-right">
                    <i class="fa fa-check fa-lg"></i> Save Edits
                </div>

            </div>
        </div>
    </div>

</div>

