<div id="top-card-job" class="panel profiles-panel col-md-12">
    <div class="panel-body profile-top-card">
<div class="profile-details-content">

    <!--<script type="text/ng-template" id="customTemplate.html">-->
        <!--<a>-->
            <!--<img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">-->
            <!--<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>-->
        <!--</a>-->
    <!--</script>-->
    <!--<div class='container-fluid'>-->

        <!--<h4>Static arrays</h4>-->
        <!--<pre>Model: {{selected | json}}</pre>-->
        <!--<input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">-->

        <!--<h4>Asynchronous results</h4>-->
        <!--<pre>Model: {{asyncSelected | json}}</pre>-->
        <!--<input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" class="form-control">-->
        <!--<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->

        <!--<h4>Custom templates for results</h4>-->
        <!--<pre>Model: {{customSelected | json}}</pre>-->
        <!--<input type="text" ng-model="customSelected" placeholder="Custom template" typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control">-->
    <!--</div>-->

            <form name="jobForm">
                <div id="name-container" class="form-group css-form" novalidate style="line-height:2;">
                    <div>
                        <ul>
                            <li>
                                <label>Job Position <abbr title="Required" class="required">*</abbr></label>
                                <select ng-model="job.positionTypeId" class="edit-positionType" ng-options="p._id as p.name for p in positionTypes" class="input-xlarge" required>
                                    <option value="">choose...</option></select>
                                - <label>Academic Discipline <abbr title="Required" class="required">*</abbr>  </label>
                                <input type="text"  class=" profile-forms "  name="jobAcademicDiscipline" ng-model="job.academicDiscipline" maxlength="50"required>
                            </li>
                            <li>
                                <label>Institution Name<abbr title="Required" class="required">*</abbr>  </label>
                                <input type="text" class=" profile-forms " typeahead="state for state in states | filter:$viewValue | limitTo:8"  name="jobInstitution" ng-model="job.institution" maxlength="50" required>
                                - <label>Contract Type <abbr title="Required" class="required">*</abbr></label>


                                <select ng-model="job.contractType" class="edit-positionType" ng-options="c._id as c.name for c in contractTypes" class="input-xlarge" required>
                                    <option value="">choose...</option></select>
                            </li>
                            <br/>
                            <li>

                                <div class="fieldgroup">
                                        <label>Location</label>
                                        <label>Type<abbr title="Required" class="required">*</abbr></label>
                                        On Site <input type="checkbox" ng-model="onSite">
                                        Remote <input type="checkbox" ng-model="remote">
                                        <br/>
                                        <label>Country <abbr title="Required" class="required">*</abbr></label>
                                        <select ng-model="job.country" class="edit-positionType"  ng-options="c._id as c.name for c in countries" class="input-xlarge" required>
                                            <option value="">choose...</option></select>
                                        <label>City <abbr title="Required" class="required">*</abbr></label>
                                        <input type="text" class="profile-forms" name="jobLocationCity" ng-model="job.locationCity" maxlength="50" required> <br/>
                                        <label>State <abbr title="Required" class="required">*</abbr></label>
                                        <input type="text" class="profile-forms"  typeahead="state for state in states | filter:$viewValue | limitTo:8" name="jobLocationState" ng-model="job.locationState" maxlength="50" required>
                                </div>

                            </li>
                            <li>
                                <div class="fieldgroup">
                                    <label>Job Requirements</label> <br/>
                                    <label>Minimum Educational Requirements<abbr title="Required" class="required">*</abbr></label>
                                    <select ng-model="job.edDegree" class="edit-positionType"  ng-options="e._id as e.name for e in edDegrees" class="input-xlarge" required>
                                    <option value="">choose...</option></select> in <input type="text" class=" profile-forms " name="jobDegreeDiscipline" ng-model="job.degreeDiscipline" maxlength="50"><br/> -or- <select ng-model="job.edDegree" class="edit-positionType"  ng-options="e._id as e.name for e in edDegrees" class="input-xlarge" required>
                                    <option value="">choose...</option></select> in <input type="text" class=" profile-forms " name="jobDegreeDiscipline" ng-model="job.degreeDiscipline" maxlength="50"><a href=""><small> Add More </small></a>
                                    <br/>
                                    <label>Field of Expertise (comma separated) <abbr title="Required" class="required">*</abbr></label>
                                    <div id="tags-container">
                                        <tags-input ng-model="job.expertiseTags" class="expertise-tags"></tags-input>
                                    </div>

                                </div>

                            </li>
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="top-card-profile-actions" style="border-top: 1px dashed #5e5e67;background: #f6f6f6;height:35px;" id="jobDetails">
        <ul style="display: table-cell; padding: 0 0 8px;float:left;">
            <li style="padding-top: 8px; padding-bottom: 2px; padding-left: 0px; padding-right: 12px; font-size: 11px; line-height: 1.2em;">
            </li>
        </ul>
        <div class="action-bar-right">
            <i class="fa fa-caret-down fa-lg"></i> <a href="" scroll-to="jobDetails" offset="60" container="window"> Edit Job details</a>
        </div>

    </div>
</div>








