<div id="bottom-card-post-job" class="panel panel-default col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="panel-body profile-bottom-card">
        <div class="profile-details-content">
            <div id="experience-edit"style="padding:25px 15px;">


                <form name="jobPostForm"  class="form-group css-form" novalidate style="padding-right:15px;padding-left:15px;">

                    <ul>
                        <li>


                            <label style="margin-bottom:15px;font-weight:bold;">Job Description <abbr title="Required" class="required" style="outline-color:darkgrey;">*</abbr></label>
                            <div ng-show="jobPostForm.jobDescription.$dirty && jobPostForm.jobDescription.$invalid">
                                <span ng-show="jobPostForm.jobDescription.$error.required" style ="color:#EB7737;">Please enter a job description.</span>
                                <!--<span ng-show="jobPostForm.uEmail.$error.required">Tell us your email.</span>-->
                                <!--<span ng-show="jobPostForm.uEmail.$error.email">This is not a valid email.</span>-->
                            </div>
                            <div class="fieldgroup">
                                <textarea name="jobDescription" msd-elastic="\n" class="" cols="120" rows="6" ng-model="job.description"style="padding:20px 15px;"required></textarea>
                            </div>


                                <!--E-mail:-->
                                <!--<textarea ng-model="job.description" name="jobDescription" required></textarea><br />-->
                                <!--<div ng-show="jobPostForm.jobDescription.$dirty && jobPostForm.jobDescription.$invalid">Invalid:-->
                                    <!--<span ng-show="jobPostForm.jobDescription.$error.required">Tell us your email.</span>-->
                                    <!--&lt;!&ndash;<span ng-show="jobPostForm.uEmail.$error.required">Tell us your email.</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span ng-show="jobPostForm.uEmail.$error.email">This is not a valid email.</span>&ndash;&gt;-->
                                <!--</div>-->

                        </li>
                        <!--<li>-->

                            <!--<label>Job Requirements (<a href="" ng-click="addAJobRequirement()" style="padding-top: 15px;padding-bottom: 0px;margin-bottom: 0px;font-size: 12px;">add a requirement</a>) <abbr title="Required" class="required">*</abbr></label></br>-->


                            <!--<div class ="fieldgroup" ng-repeat="jobRequirement in job.jobRequirements" style="display: inline; line-height: 3;">-->
                                <!--<input type="email" class="profile-forms" ng-model="jobRequirement.value"-->
                                       <!--maxlength="50" placeholder="Job Requirement" required style="width:620px; border-color:black;height: 25px;display: inline;line-height: 2;">-->
                                <!--<div ng-show="jobPostForm.jobRequirement.$dirty && jobPostForm.jobRequirement[1].$invalid">Invalid:-->
                                    <!--<span ng-show="jobPostForm.jobRequirement.$error.required">Tell us your email.</span>-->
                                    <!--<span ng-show="jobPostForm.jobRequirement.$error.email">This is not a valid email.</span>-->
                                <!--</div>-->
                                <!--<a href="" ng-click="removeAJobRequirement(jobRequirement)" style="font-size: 11px;text-decoration: underline;">remove</a>-->
                            <!--</div>-->

                        <!--</li>-->
                        <!--<li>-->
                            <!--<label>Addtional Assets (<a href="" ng-click="addAnAdditionalAsset()" style="font-size: 12px;">add an asset</a>) <abbr title="Optional" class="optional"><small>Optional</small></abbr></label></br>-->


                            <!--<div class ="fieldgroup" ng-repeat="additionalAsset in job.additionalAssets" style="display: inline; line-height: 3;">-->
                                <!--<input type="text" class="profile-forms" ng-model="additionalAsset.value"-->
                                       <!--maxlength="50" required style="width:320px; border-color:black;height: 25px;display: inline;line-height: 2;">-->
                                <!--<a href="" ng-click="removeAnAdditionalAsset(additionalAsset)" style="font-size: 11px;text-decoration: underline;">remove</a>-->
                            <!--</div>-->

                        <!--</li>-->
                        <!--<li class="time-period" id="time-period">-->
                            <!--<fieldset>-->
                                <!--<legend>-->
                                    <!--<span>Time Period <abbr title="Required" class="required">*</abbr></span>-->
                                <!--</legend>-->
                                <!--<ul>-->
                                    <!--<li class="start-date" style="display:inline !important;">-->
                                        <!--<select ng-model="user.month" class="edit-month" ng-options="m for m in months" style="display:inline!important;" required>-->
                                            <!--<option value="">choose...</option>-->
                                        <!--</select>-->
                                        <!--<label style="display:none;">Year</label>-->
                                        <!--<input type="text" class="form-control form-inline input-sm profile-forms year"-->
                                               <!--name="experience1TimePeriodYear "-->
                                               <!--ng-model="user.experience1TimePeriodYear" maxlength="4"-->
                                               <!--placeholder="Year" style="display:inline!important;">-->
                                        <!--<span class="to">-</span>-->
                                    <!--</li>-->
                                    <!--<li class="end-date" style="display:inline!important;">-->
                                        <!--<div class="ended-position" style="display:inline!important;">-->
                                            <!--<span ng-hide="user.stillHere">-->
                                            <!--<select ng-model="user.month" class="edit-month"-->
                                                    <!--ng-options="m for m in months" class=""-->
                                                    <!--style="display:inline!important;" required>-->
                                                <!--<option value="">choose...</option>-->
                                            <!--</select>-->
                                            <!--<label style="display:none;">Year</label>-->
                                            <!--<input type="text"-->
                                                   <!--class="form-control form-inline input-sm profile-forms year"-->
                                                   <!--name="experience1TimePeriodYear "-->
                                                   <!--ng-model="user.experience1TimePeriodYear" maxlength="4"-->
                                                   <!--placeholder="Year" style="display:inline!important;">-->
                                            <!--</span>-->
                                            <!--<span ng-show="user.stillHere">to present</span>-->
                                        <!--</div>-->
                                        <!--<label class="checkbox" id="still-here">-->
                                            <!--<input type="checkbox" ng-model="user.stillHere"-->
                                                   <!--style="display:inline!important;">-->
                                            <!--I currently work here-->
                                        <!--</label>-->

                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</fieldset>-->
                        <!--</li>-->
                    </ul>
                </form>
            </div>

            <div class="top-card-profile-actions" style="border-top: 1px dashed #5e5e67;background: #f6f6f6;height:35px;">
                <ul style="display: table-cell; padding: 0 0 8px;float:left;">
                    <li style="padding-top: 8px; padding-bottom: 2px; padding-left: 0px; padding-right: 12px; font-size: 11px; line-height: 1.2em;">
                    </li>
                </ul>
                <div ng-show="canSaveJob" ng-click="saveJobCard()" class="action-bar-right">
                    <i class="fa fa-bullhorn fa-lg"></i> Publish Job
                </div>
                <div ng-click="saveJobCard()" class="action-bar-right">
                    <i class="fa fa-check fa-lg"></i> Save Edits
                </div>

            </div>
        </div>
    </div>

</div>

