<div id="bottom-card" class="panel panel-default col-md-12" xmlns="http://www.w3.org/1999/html">
    <div class="panel-body profile-bottom-card">
        <!--<div ng-controller="EditableFormCtrl2" id ="profile-details">-->
        <div class="profile-details-content">
            <div id="experience-edit">
                <form class="form-group">
                    <ul>
                        <li>
                            <label for="">Job Description</label>
                            <div class="fieldgroup">
                                <textarea name="jobDescription" class="" cols="100" rows="6" ng-model="job.description "></textarea>

                            </div>
                        </li>
                        <li>
                            <label for="">Job Requirements</label>
                            <div class="fieldgroup">
                                <textarea name="jobRequirement" class="" cols="100" rows="6" ng-model="job.requirement "></textarea>

                            </div>
                        </li>
                        <li>
                            <label for="">Addtional Assets</label>
                            <div class="fieldgroup">
                                <textarea name="jobAssets" class="" cols="100" rows="6" ng-model="job.assets "></textarea>

                            </div>
                        </li>
                        <li class="time-period" id="time-period">

                            <fieldset>
                                <legend>
                                    <span>Time Period <abbr title="Required" class="required">*</abbr></span>
                                </legend>
                                <ul>
                                    <li class="start-date">
                                        <label for="">Month </label>
                                        <select ng-model="user.month" class="edit-month" ng-options="m.name for m in months" class="input-xlarge" required>
                                            <option value="">choose...</option></select>
                                        <label for="" style="display:none;" >Year</label>
                                        <input type="text" class="form-control form-inline input-sm profile-forms year"
                                               name="experience1TimePeriodYear " ng-model="user.experience1TimePeriodYear" maxlength="4" placeholder="Year">
                                        <span class="to">-</span>
                                    </li>
                                    <li class="end-date">
                                        <div class="ended-position">
                                            <label for="">Month </label>
                                            <select ng-model="user.month" class="edit-month" ng-options="m.name for m in months" class="input-xlarge" required>
                                                <option value="">choose...</option></select>
                                            <label for="" style="display:none;" >Year</label>
                                            <input type="text" class="form-control form-inline input-sm profile-forms year"
                                                   name="experience1TimePeriodYear " ng-model="user.experience1TimePeriodYear"  maxlength="4" placeholder="Year">
                                        </div>

                                    </li>
                                </ul>
                            </fieldset>
                        </li>



                    </ul>

                </form>
            </div>

            <div class="profile-edit">
                <!-- button to show form -->
                <button type="button" class="btn btn-xs btn-primary" ng-click="saveBottomCard()">Save</button>
                <!--<button type="button" class="btn btn-xs" ng-click="cancelBottomCard()">Cancel</button>-->

            </div>

            <!--</form>-->
        </div>
        <!--</div>-->
    </div>
</div>

