<div id="top-card" class="panel panel-default col-md-12" style="position: relative;padding-left:5px !important;padding-right:5px !important; padding-bottom: 0px !important; margin-bottom: 5px !important">
    <div class="panel-body profile-top-card">
        <div class="profile-picture">
            <span ng-if="job.imageName">
                <img class="img-thumbnail pull-left" ng-src="https://s3.amazonaws.com/Adjuncts/{{job.imageName}}"/>
            </span>
            <div ng-if="!job.imageName" class="no-job-picture" style="background-color: #C8C8C8;color: #EFF0EE;">
                <i class="fa fa-briefcase" id="briefcase" style="font-size: 9em;padding-top: 13px;padding-left: 70px;" ></i>
                <div class="" style="position: absolute;  top: 90px; bottom: 0; left: 0; right: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; width: 100%; background: transparent; text-indent: 0; text-align: center;">
                    <a href="#" ng-click="openJobPictureUploadModal()">
                        <span style= "color: #fff; z-index: 1000;">
                            <img src="/img/icon_add_photo_27x27_v1.png" /> Add a photo
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="profile-overview-content">
            <div class="lead lead-custom masthead">
                <div id="name-container">
                    <h4>
                        <span>{{ job.academicDiscipline || 'Information Technology' }}</span>
                        -
                        <span>{{ job.positionTypeDesc || 'Adjunct Faculty' }} </span>
                    </h4>
                </div>
                <div id="headline-container">
                    <span>At {{ job.institution || 'Bay State College' }}</span>
                    -
                    <span>{{ job.contractType.name || 'Part-time' }} position</span>
                </div>
                <div class="text-muted" id="demographic-info">
                    <span>{{ job.locationCity || 'Boston' }}</span>
                    <span>, {{ job.locationState || 'MA' }}</span>
                    <span>| posted on {{ job.postedOn || 'November 12, 2013' }}</span>
                </div>
            </div>
            <table id="profile-card-table">
                <tbody>
                <tr id="overview-summary-specialty">
                    <th class="profile-card-table-th" scope="row">Degree Required</th>
                    <td class="profile-card-table-td"><span>{{ job.degreeRequired || 'MS in Information Technology' }}</span> <br />
                        or <span>{{ job.degreeRequiredAlternative || 'MS in related field' }}</span>
                    </td>
                </tr>
                <tr id="overview-summary-education">
                    <td class="profile-card-table-th">Required Expertise</td>
                    <td class="profile-card-table-td"><span>{{ job.requirementField1 || 'JAVA' }},</span>
                        <span>{{ job.requirementField2 || 'SQL' }},</span> <span>{{ job.requirementField3 || 'HTML' }},</span>
                        <span>{{ job.requirementField4 || 'information security' }},</span> <span>{{ job.requirementField5 || 'database management' }}.</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div ng-repeat="item in job.expertiseTags">
                            {{ item ||'tags go here' }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="top-card-profile-actions" style="border-top: 1px dashed #5e5e67;background: #f6f6f6;height:35px;">
        <ul style="display: table-cell; padding: 0 0 8px;float:left;">
            <li style="padding-top: 8px; padding-bottom: 2px; padding-left: 0px; padding-right: 12px; font-size: 11px; line-height: 1.2em;">
            </li>
        </ul>
        <div ng-show="canEdit" ng-click="editTopCard()" class="action-bar-right">
            <i class="fa fa-pencil-square-o fa-lg"></i> Edit Profile
        </div>
        <div ng-show="!canEdit" ng-click="saveJobForUser()" class="action-bar-right">
            <i class="fa fa-folder-open fa-lg"></i> Save Job
        </div>
    </div>
    <!--<button ng-show="canApplyToJob" type="button" class="btn btn-md btn-primary edit-buttons" id="apply-to-job" style="position:absolute; right: 185px ; bottom: 0px ;border-radius:3px 0px 3px 0px" ng-click="applyToJob()"><i class="fa fa-pencil-square-o fa-lg"></i>Apply</button>-->
    <!--<button ng-show="canSaveJob" type="button" class="btn btn-md btn-primary edit-buttons" style="position:absolute; right: 100px ; bottom: 0px ;border-radius:3px 0px 3px 0px" ng-click="saveJobForUser()"><i class="fa fa-pencil-square-o fa-lg"></i>Save</button>-->
    <!--<button type="button" class="btn btn-md btn-primary edit-buttons" style="position:absolute; right: 0px ; bottom: 0px ;border-radius:3px 0px 3px 0px" ng-click="editTopCard()"><i class="fa fa-pencil-square-o fa-lg"></i>Edit Job</button>-->
</div>


