<div class="container">
    <div class="col-md-2 sidebar-offcanvas" id="sidebar1" role="navigation">
            <div ng-include="'/partial/side-search-column'" />
        </div>

    <div class="result-col col-md-8">
        <div id="result-container">
            <div id="results" class="search-results list-group col-md-12"  >
                <a ng-href="/job-profile/{{job._id}}" class="list-group-item list-group-item-customized" ng-repeat="job in jobs"style="margin-bottom: 5px;">


                    <!--<div class="profile-picture">-->
                            <!--<span ng-if="user.imageName">-->
                                <!--<img class="pull-left"  style="width: 207px;" ng-src="https://s3.amazonaws.com/Adjuncts/{{user.imageName}}"/>-->
                            <!--</span>-->
                        <!--<div ng-if="!user.imageName" class="no-picture">-->
                            <!--<div ng-show="canEdit" class="addPictLink">-->
                                <!--<a href="#" ng-click="openPictureUploadModal()">-->
                        <!--<span style= "color: #fff;">-->
                            <!--<img src="/img/icon_add_photo_27x27_v1.png" /> Add a photo-->
                        <!--</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                    <table>
                    <tr>
                    <td>
                    <div id="search-result-picture" class="align-horizontal search-results-image">
                        <!--<span ng-if="job.imageFileName">-->
                        <!--<img class= "main-search-job-image" ng-src="https://s3.amazonaws.com/Adjuncts/institution-logos/{{job.imageFileName}}" style="width:100px" />-->
                        <!--</span>-->
                        <!--<div ng-if="!job.imageFileName" class="no-picture-job-mini">-->
                            <!--&lt;!&ndash;<i class="fa fa-briefcase briefcase"></i>&ndash;&gt;-->

                            <div id="search-result-picture" class="align-horizontal search-results-image">
                                <div ng-if="job.imageFileName">
                                    <img class= "main-search-job-image" ng-src="https://s3.amazonaws.com/Adjuncts/institution-logos/{{job.imageFileName}}" width="100px" />
                                </div>
                                <div ng-if="!job.imageFileName" class="no-picture-job-mini"></div>
                            </div>
                        <!--</div>-->
                    </div>
                    </td>
                    <td style="padding-top:15px;">
                    <div class="search-result-body align-horizontal" >
                        <span class="list-group-item-heading-customized title">
                            <span>{{job.jobTitle}}</span>
                            <!--<span ng-hide="{{!job.category}}" class="additional-info--">{{job.category}}</span>-->
                        </span>
                        <p class="description" style="margin-bottom: 0;font-size: 14px;">
                            {{job.institution}}{{job.employer}}
                            <span ng-hide="{{!job.companyType}}" class="additional-info--">{{job.companyType}}</span>
                        </p>
                        <p>
                            <span> {{ job.location }}</span>
                            <span> {{ job.fullLocation }}</span>
                            <span ng-hide="{{!job.contractType}}" class="additional-info--">{{job.contractType}}</span>
                        </p>
                        <p>
                            <div class="dates">
                                <span ng-hide="{{!job.applicationDeadline}}" class="apply-by" style="margin-right:15px;"> {{job.applicationDeadline}}</span> <span ng-hide="{{!job.datePosted}}" class="posted-on">{{job.datePosted}}</span>
                            </div>
                        </p>
                    </div>
                    </td>
                    </tr>
                    </table>
                </a>
            </div>
          </div>
        <pagination total-items="totalItems" page="currentPage" on-select-page="selectPage(page)" max-size="10" rotate="false" boundary-links="true"></pagination>

    </div>
    <div class="col-md-2" id="sidebar2" role="navigation">
        <div ng-include="'/partial/adjuncts-profile-right-bottomSide-column'" />
    </div>


</div>
