<div id="signup-modal" class="modal">
        <div class="modal-dialog" style="padding-top: 6%">
            <div class="modal-content modal-content-custom modal-content-custom-sign-modal">
                <h3 class="panel-header"><strong>Sign up</strong></h3>
                <div class="panel-body" style="width:315px;">
                    <ul>
                        <div class="">
                            <div class="" style="margin-left:0px;margin-right:0;">
                                <li style="float:left;margin-top:0;margin-bottom:3px;">
                                    <a class="modal-signin" ng-click="linkedinAuth()" style="width: 266px; height:38px;margin-left: 0px;float: left;border-radius:2px;border: solid 1px #007bb6;color:#3b82a3;">
                                        <i class="fa fa-linkedin fa-lg fa-linkedin-custom" style="border-right: solid 1px #007bb6; margin-right: 20px;"> </i> Sign up with LinkedIn</a>  </span>
                                </li>
                                <div class="signup-or-separator" style="clear:both;">
                                    <h6 class="text shift text-special">or</h6>
                                    <hr>
                                </div>

                                <div class="">
                                    <li style="float:left;margin-top:0;margin-bottom:3px;">
                                        <a class="modal-signin"  ng-click="connectManually()" style="width: 266px; height:38px;margin-left: 0px;float: left;border-radius:2px;border: solid 1px #007bb6;color:#3b82a3;">
                                            Sign up with Email</a>  </span>
                                    </li>
                                </div>
                                <div id="">
                                    By signing up, you are agreeing to the
                                    Adjuncts Terms of Service
                                </div>
                            </div>
                        </div>
                    </ul>

                </div>
                <div class="panel-footer panel-body">
                    <div class="text-left">
                        Already have an Adjuncts account?
                        <a href="/signin-modal">Sign in</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>