<div id="badge-edit-modal" class="modal">
    <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content modal-content-custom modal-content-custom-badge-edit">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body modal-body-custom">

            </div>





        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal" ng-click="saveBadgeCard()">Save</button>
            <button type="button" class="btn btn-xs" data-dismiss="modal">Cancel</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->