<form action="/signin" method="post" class="form-signin input-group-sm">
    <div ng-show="showError" style="color: #b94a48">Please enter a valid email and password.</div>
    <label>Email: </label>
    <input name="email" type="text" class="form-control input-sm" placeholder="Email address" autofocus>
    <br />
    <label>Password:</label>
    <input name="password" type="password" class="form-control input-sm" placeholder="Password">
    <span><a href="#"><small>Forgot password?</small></a></span>
    <label class="checkbox">
        <input type="checkbox" value="remember-me"><small>Remember me</small>
    </label>
    <button id="signIn" class="btn btn-primary btn-sm btn-sample" type="submit">Sign in</button> or
    <button id="signUp" class="btn btn-success btn-md" type="button" ng-click="goToSignUp()">Sign up</button><br /><hr/>
    <button id="facebookAuth" class="btn btn-success btn-sm" type="button" ng-click="facebookAuth()">Sign in with Facebook</button><br /><br />
    <button id="linkedinAuth" class="btn btn-success btn-sm" type="button" ng-click="linkedinAuth()">Sign in with Linkedin</button><br />
</form>
