<div class=" col-md-offset-4 col-md-12 col-md-offset-12">
    <br />
    <form name="signUpForm" class="form-signup css-form" novalidate>
        <h3 class="form-signin-heading">Sign up to adjuncts</h3>
                First Name: <input type="text" name="userFirstName" class="form-control" ng-model="user.firstName"  autofocus required/>
                <div ng-show="signUpForm.userFirstName.$dirty && signUpForm.userFirstName.$invalid">
                    <span ng-show="signUpForm.userFirstName.$error.required" style ="color:#EB7737;">Please enter your first name.</span>
                </div>
                Last Name: <input type="text" name="userLastName" class="form-control" ng-model="user.lastName" placeholder="" required/>
                <div ng-show="signUpForm.userLastName.$dirty && signUpForm.userLastName.$invalid">
                    <span ng-show="signUpForm.userLastName.$error.required" style ="color:#EB7737;">Please enter your last name.</span>
                </div>
                <span>Email:</span> <input type="email" name="userEmail" class="form-control" ng-model="user.email" placeholder=""  required/>
                <div ng-show="signUpForm.userEmail.$dirty && signUpForm.userEmail.$invalid">
                    <span ng-show="signUpForm.userEmail.$error.required" style ="color:#EB7737;">Please enter your email address.</span>
                    <span ng-show="signUpForm.userEmail.$error.email"style ="color:#EB7737;">This is not a valid email.</span>
                </div>

                <!--Password <input type="password" data-placement="right" data-container="body" name="userPassword" class="immediate-help" ng-model="password" password-validate required  id="inputPassword"data-trigger="focus" bs-tooltip="tooltip" placeholder=""/>-->
                <label for="pw">Password:</label>
                <input type="password" name="pw" ng-model="pw" class="form-control" id="pw"  required  placeholder="" >
                <ul id="strength" check-strength="pw"> </ul>
                <div ng-show="signUpForm.pw.$dirty && signUpForm.pw.$invalid">

                    <span ng-show="signUpForm.pw.$error.required" style ="color:#EB7737;">Please choose a password.</span>
                    <!--<span ng-show="signUpForm.userPassword.$error.email"style ="color:#EB7737;" check-strength="userPassword" id="force">This is not a valid email.</span>-->
                </div>


                <!--<div class="input-help" ng-show="signUpForm.userPassword.$dirty && signUpForm.userPassword.$invalid">-->
                    <!--</br>-->
                    <!--Password must meet the following requirements:-->
                    <!--<ul style="margin-top: 0px;">-->
                        <!--<li ng-class="pwdHasLetter"><span ng-hide="pwdHasLetter"><i class="fa fa-times"></i> </span><span ng-show="pwdHasLetter"><i class="fa fa-check"></i></span>At least one letter</li>-->
                        <!--<li ng-class="pwdHasNumber"><span ng-hide="pwdHasNumber"><i class="fa fa-times"></i> </span><span ng-show="pwdHasNumber"><i class="fa fa-check"></i></span>At least one number</li>-->
                        <!--<li ng-class="pwdValidLength"><span ng-hide="pwdValidLength"><i class="fa fa-times"></i> </span><span ng-show="pwdValidLength"><i class="fa fa-check"></i></span>At least 8 characters long</li>-->


                    <!--</ul>-->
                <!--</div>-->

                <label>Password Confirmation:</label> <input type="password" name="userPasswordConfirm" class="form-control" ng-model="user.passwordConfirm" placeholder="" required data-password-verify="user.password"/>
                <div ng-show="signUpForm.userPasswordConfirm.$dirty && signUpForm.userPasswordConfirm.$invalid ">
                    <span ng-show="signUpForm.userPasswordConfirm.$error.required" style ="color:#EB7737;">Please confirm your password.</span>
                </div>
                <div ng-show="signUpForm.userPasswordConfirm.$dirty && signUpForm.userPasswordConfirm.$invalid">
                    <span ng-show="signUpForm.userPasswordConfirm.$error.passwordVerify"style ="color:#EB7737;">Passwords don't match</span>
                </div>

     </form>

    <br />
        <button class="btn btn-primary  btn-custom" ng-click= "joinNow()">Join now</button>



    <br />
    <br />
    <br />
    <br />


</div>