<div id="upload-picture-modal" class="modal">
    <div class="modal-dialog modal-dialog-custom">
        <form id="profile-pic-upload" ng-upload method="POST" action="/upload-adjunct?delay=yes">
        <div class="modal-content custom-modal-content">
            <div class="modal-header custom-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Browse and upload your profile picture</h4>
            </div>
            <div class="modal-body">
                <div>

                        <p>
                            <label>Select a profile picture:</label>
                            <input type="file" name="file"/>
                        </p>

                    <div ng-bind-html-unsafe="uploadResponse"></div>
                </div>

            </div>
            <div class="modal-footer custom-modal-footer"style="padding:0 15px;">
                <button type="button" class="btn-primary" style="height:30px;" data-dismiss="modal">Close</button>
                <input upload-submit="uploadComplete(content)" type="submit" style="height:30px;"  class="btn-primary" data-dismiss="modal" value="Save"/>
                <!--<div ng-show="canEdit" ng-click="uploadComplete(content)" class="action-bar"data-dismiss="modal" value="Save">-->
                <!--Yes, remove it-->
                <!--</div>-->
            </div>
        </div>
        </form>
    </div>
</div>


<!--<div ng-show="canEdit" ng-click="" class="action-bar">-->
    <!--Cancel-->
<!--</div>-->
<!--<div ng-show="canEdit" ng-click="removeAResumePosition(selectedResumePosition)" class="action-bar">-->
    <!--Yes, remove it-->
<!--</div>-->