<div class="modal-header modal-header-custom">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Portfolio video ID</h3>
</div>
<div class="modal-body modal-body-custom">
    <iframe width="640" height="480" src="//www.youtube.com/embed/YKulXXvK2TA" frameborder="0" allowfullscreen></iframe>
</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="hide()">Close</button>
    <button class="btn btn-primary" ng-click="modal.saved=true;hide()">Save changes</button>
</div>