label, input, textarea, .input-prefix, .input-suffix, select, input[type="radio"], input[type="checkbox"] {
    line-height: normal;
}
label {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    margin-top: -0.07em;
    margin-bottom: -0.1em;
    vertical-align: top;
    margin-right: 4px;
}
input[type="checkbox"] {
    height: 1.35em;
    width: 1.35em;
}

input[type="checkbox"]:checked {
    background: url("/img/pinkCheckMark.png") no-repeat center;
    background-size: 0.8em;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, input[type="radio"], input[type="checkbox"] {
    background-color: #fff;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.08),0 1px 0 0 #fff;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, .input-prefix, .input-suffix, select, input[type="radio"], input[type="checkbox"] {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}


[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, input[type="radio"], input[type="checkbox"] {
    -webkit-transition: border-color 0.3s,box-shadow 0.3s;
    transition: border-color 0.3s,box-shadow 0.3s;
}


a {
    background: transparent;
}
a {
    color: #0077b5;
    text-decoration: none;
}

a:hover, a:focus {
    color: #333;
    text-decoration: underline;
}
.forgot-password {
    float: right;
}
.sigin-third-party{
    margin-bottom: 20px;
}
.sigin-third-party:before, .sigin-third-party:after {
    display: table;
    content: "";
}

.sigin-third-party:after {
    clear: both;
}
.modal-signin {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:2px solid #007cb6;
    display:inline-block;
    cursor:pointer;
    color:#69757a;
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    padding:10px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.signup-page {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    border:2px solid #007cb6;
    display:inline-block;
    cursor:pointer;
    color:#69757a;
    font-family:arial;
    font-weight:bold;
    padding:10px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.modal-signin:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
    text-decoration: none;
}
.modal-signin:active {
    position:relative;
    top:1px;
}
.modal-signin-facebook{
    height:32px;
    margin-left: 0px;
    float: left;
    border-radius:2px;
    border: solid 1px #4e5f9e;
    color: #6a759c;
    padding: 7px 10px;
    font-size: 14px;
    width:120px;
    margin-right:26px;
}
.modal-signin-google{
    height:32px;
    margin-left: 0px;
    float: left;
    border-radius:2px;
    border: solid 1px #863523;
    color: #8c3a2a;
    padding: 7px 10px;
    font-size: 14px;
    width:120px;
}

.modal-signin-facebook:hover, .modal-signin-facebook:focus{
    color:#4e5f9e;
}


.modal-signin-google:hover, .modal-signin-google:focus{
    color:#863523;
}




h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}


.btn-social-linkedin-sign{
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.18) 88%, rgba(56,97,119,0.07) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(88%,rgba(255,255,255,0.18)), color-stop(100%,rgba(56,97,119,0.07))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.18) 88%,rgba(56,97,119,0.07) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.18) 88%,rgba(56,97,119,0.07) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.18) 88%,rgba(56,97,119,0.07) 100%); /* IE10+ */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.18) 88%,rgba(56,97,119,0.07) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#12386177',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn-social-linkedin-signup-page{
    width: 330px;
    height:38px;
    vertical-align:bottom;
    margin-left:0;
    float:left;
    font-size:12px;
    border-radius:2px;
    padding-bottom:0;
    background-color: white;
    color:#007bb6;
    padding-left:5px;
    border-color: #007bb6;
    display:inline-block;
    text-align:center;
    white-space:nowrap;
    cursor: pointer;
    padding-top: 10px;

}

.panel-header, .panel-body, ul.panel-body>li, ol.panel-body>li, .panel-footer {
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dbdbdb;
}

.panel-header {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-botttom:0;
    color: #393c3d;
}

.signup-or-separator{
    background: none;
    height:34px;
    position:relative;
    text-align:center;
}
*, *:before, *:after, hr, hr:before, hr:after, input[type="search"], input[type="search"]:before, input[type="search"]:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.signup-or-separator hr {
    margin: -16px auto 0 auto;
    width: 90%;
}

.signup-page-or-separator{
    background: none;
    height:34px;
    position:relative;
    text-align:center;
}

.signup-page-or-separator hr {
    margin: -16px auto 0 auto;
    width: 90%;
}

.signup-page-or-separator .text{
    background-color: white;
    display: inline-block;
    margin:0;
    padding: 8px 6px;
    text-transform:uppercase;
    font-size: 10px;
}


hr {
    margin-top: 13px;
    margin-bottom: 13px;
    border: 0;
    border-top: 1px solid #dbdbdb;
}


.signup-or-separator .text{
    background-color: white;
    display: inline-block;
    margin:0;
    padding: 8px 6px;
    text-transform:uppercase;
    font-size: 10px;
}




body, html {
    height: 100%;
}

.home-sign-up-well{
margin-top: 30px;
background-color: #999;
width: 360px;
margin-left: 33px;
padding: 5px 22px;
border-radius: 1px;
}
/*.tooltip-inner {*/
    /*max-width: 250px;*/
    /*padding: 3px 8px;*/
    /*color: #ffffff;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*background-color: #000000;*/
    /*border-radius: 4px;*/
/*}*/
.custom-tooltip + .tooltip > .tooltip-inner{
    background-color: white;
    color:black;
    border: solid 1px #555;
    border-radius:1px;
    position: relative;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:left;

}

.tooltip.right:after .tooltip-arrow:after {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: white;
    border-width: 5px;
    margin-top: -5px;
}

.tooltip.right:before .tooltip-arrow:before {
    top: 50%;
    left: 0;
    border-color: rgba(85, 85, 85, 0);
    border-right-color: #555;
    border-width: 6px;
    margin-top: -6px;
}

.basic-profile-form{
    height: 28px;
    border-radius: 1px;
    padding: 3px 5px;
    margin-bottom: 15px;
}
.basic-profile-form-select{
    height: 28px;
    border-radius: 1px;
    margin-bottom: 15px;
}


.marketing-background{
    height:100%;
    background: -moz-linear-gradient(top, rgba(0,3,51,0.03) 0%, rgba(255,255,255,0.32) 24%, rgba(255,255,255,1) 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,3,51,0.03)), color-stop(24%,rgba(255,255,255,0.32)), color-stop(80%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,3,51,0.03) 0%,rgba(255,255,255,0.32) 24%,rgba(255,255,255,1) 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,3,51,0.03) 0%,rgba(255,255,255,0.32) 24%,rgba(255,255,255,1) 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,3,51,0.03) 0%,rgba(255,255,255,0.32) 24%,rgba(255,255,255,1) 80%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,3,51,0.03) 0%,rgba(255,255,255,0.32) 24%,rgba(255,255,255,1) 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08000333', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.marketing {
    margin-bottom:110px
}
.sign-up-form{
    border-radius:2px;
    margin-bottom:10px;
    background-color: #fff;
}

.panel-dark, code, pre, .panel-header, .dot-info {
   background-color: #efefef;
}

*,*:before, *:after, hr, hr:before, hr:after, input[type="search"], input[type="search"]:before, input[type="search"]:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

.modal-cell{
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding: 50px;
}

.modal-table{
     display: table;
     table-layout: fixed;
     height: 100%;
     width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .panel-header, .alert, .h5, .panel-header-small, .tab-item, .h6 {
   font-weight: bold;
   line-height: 1.2;
   text-rendering: optimizelegibility;
}

h4, .h4, .panel-header, .alert {
   font-size: 15px;
}

.modal-content-custom-sign-modal{
  position: relative;
  border: 1px solid rgba(0,0,0,0.33);
  border-radius: 2px;
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
  box-shadow: 0 0 25px 12px rgba(0,0,0,0.35);
  width:315px;
}
.modal-cell{
 display: table-cell;
 height: 100%;
 width: 100%;
 vertical-align: middle;
 padding: 50px;
}





label{
    font-family: Arial, sans-serif;
    font-weight:normal!important;
    font-size:14px!important;
}
input.ng-pristine + ul#strength {
    display:none;
}
ul#strength{
    display:inline;
    list-style:none;
    margin:0;
    margin-left:0;
    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:0;
    display:inline-block;
    height:5px;
    margin-right:0;
    width:30px;
}

/*.ng-invalid:focus + .input-help-2 {*/
    /*display: none;*/
/*}*/
.input-help{
    font-size:11px;
}
/* Style input help requirement bullets */
.input-help ul {
    list-style: none;
    margin: 10px 0 0 0;
}

/* Default each bullet to be invalid with a red cross and text */
.input-help li {
    padding-left: 22px;
    line-height: 24px;
    color:#EB7737;
}

/* Set to green check and text when valid */
.input-help li.valid {
    color:#595959 ;
    background-position: 2px 6px;
}



.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0.8;
    filter: alpha(opacity=0);
    visibility: visible;
}
.css-form  .ng-invalid.ng-dirty{
    border-color: #EB7737;

}
.nav, .pagination, .carousel a { cursor: pointer; }
.css-form .ng-valid.ng-dirty {

 }
.profiles-panel{
    position: relative;
    padding-left:0px !important;
    padding-right:0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 5px !important;
    border-color:#ddd;
    /*border-color: #5e5e67;*/
}
.action-bar-right{
    display: table-cell;
    border-left: 1px solid #ccc;
    padding: 8px 10px 7px 10px;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec 0%,#e1e1e1 100%);
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    float:right;
}
/*//combine both*/
.action-bar{
    display: table-cell;
    border-left: 1px solid #ccc;
    padding: 8px 10px 7px 10px;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec 0%,#e1e1e1 100%);
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    float:right;
}
.resumes-container{
    margin: 7px 0;
}
.profile-bottom-card{
    padding:0;
}
.bottom-card-profile-actions-edit ul{
    display: table-cell;
    padding: 0 0 8px;
    float:left;
}

.bottom-card-profile-actions-edit li{
    padding: 8px 12px 2px 0;
    font-size: 11px;
    line-height: 1.2em;"
}
.bottom-card-profile-right-actions-edit{
    display: table-cell;
    border-left: 1px solid #ccc;
    padding: 8px 10px 7px 10px;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec 0%,#e1e1e1 100%);
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    float:right;
}
.bottom-card-profile-actions-edit{
    border-top: 1px dashed #5e5e67;
    background: #fbede5;height:35px;
}
.bottom-card-profile-right-actions{
    display: table-cell;
    border-left: 1px solid #ccc;padding: 12px 15px 7px 15px;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec 0%,#e1e1e1 100%);
    height:42px;font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    float:right;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.bottom-card-profile-actions{
    border-bottom: 1px solid #5e5e67;
    background-color: #e1e1e1;
    height:43px;
    margin-bottom:25px;
    position:relative;
}

.bottom-card-profile-actions ul{
    display: table-cell;
    padding: 5px 15px;
    float:left;
}

.bottom-card-profile-actions li{
    padding-top: 0;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 12px;
    font-size: 11px;
    line-height: 1.2em;
}

.bottom-card-profile-actions h6{
    margin-top: 7px;
    margin-bottom: 7px;
}

#experience-containter-edit{
margin-top: 15px;
margin-bottom: 20px;
font-size: 13px;
line-height: 17px;
color: #333;
font-weight: normal;
padding: 20px 20px;
background: #f4f4f4;
border: 1px solid #e9e9e9;
border-width: 1px 0;
/*margin-left: -12px;*/
/*margin-right: -12px;*/
}
.position-edit-form{
    width:292px;
}
.bottom-adjunct-add-position{
    display: block;
    /*background: url('/img/add-position-bg.png') no-repeat right bottom;*/
    background-color: #fcfafa;
    background-size:400px 50px;
    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #0077b5;
    text-decoration: none;
    text-align: center;
    border: 1px dashed #ddd;
}
.bottom-card-panel{
    border-radius: 0!important;
}

#bottom-card-post-job{
    border-radius: 0!important;
    padding: 10px 0 0;

}

.bottom-card-panel-body{
    padding-left: 5px;
    padding-right: 5px;
}
.expertise-tags-custom li{
    color: #75757c!important;
    background-color: #cccccf !important;
    border-color: #357ebd !important;
    font-weight: bold!important;
    border-radius: 2px!important;

}
.tags{
margin-top: 8px !important;
border: 1px solid #333!important;
background: white;
font-size: 85%;
color: #333!important;
text-align: center;
white-space: nowrap;
vertical-align:middle;
border-radius: .25em;
width:auto!important;

margin: 2px;
padding-left: 4px;
display: inline-block;
border-radius: 2px;
height: 21px;
line-height: 1.3;

float: left;
}

.badge-section-hr{
    margin-top: 3px;
    margin-bottom: 3px;
}
.percentage-title-badge-section{
   text-align:right;
   right:5px;
   position:absolute;
   font-size:13px;
   margin-top:0;
   font-weight:bold;
   font-style:italic;
   color:#5e5e67;

}
.list-item-badge-section{
    background-color:#fefefe!important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 9px !important;
    border-color: #5e5e67;
    border-bottom:0px;
    border-top:0px;
}
li:first-child{
    border-top:1px!important;
}
li:last-child{
    border-bottom:1px!important;
}
.competency-title-badge-section{
    margin-left: 2px;
    display:inline;
    font-size: 12px;
    color: #333;
}
.progress-custom-badge-section{
    /*padding-left: 2px !important;*/
    border-radius: 0px;
    height: 13px;
    margin-top: 3px;
    margin-bottom: 0px;
    /*width: 212px;*/
    width: 100%;
    background-color: #fafafa;
}

.list-group-item-customize-left{
    padding-left: 0 !important;
    margin-left: 0 !important;
}
#or{
    width:40px !important;
    margin-left: 142px !important;
}
.section-title{
    border-top: solid 2px #eaeaea;
}
.section-title h3{
   margin-top: -7px;
   text-align: center;
   color:#bbb;
   font-weight: bold;
   background-color:#F6F6F6;
   font-size: 11px;
   width:90px;
   position: relative;
   margin-left: 117px;
   text-transform: uppercase;
}

.form-control-signup-home-page{
    height: 31px;
    border-radius:3px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#email{
    margin-top:0 !important;
    padding-top: 35px !important;
}
#password{
    padding-top:2px;
}

#first-name{
    float:left;
    width:130px;
}
#last-name{
    float:right;
    margin-bottom: 5px;
}
.dashboard-navigation-title{
    padding-left: 3px;
    color:black !important;
}
.dashboard-display-panel{
    height:517px;
    background-color: #FaFaFa;
    margin-top:-3px!important;
}
.dashboard-navigation{
    height:517px;
    width:252px;
}

.progress-custom{
    height:13px;
    padding-bottom:0px;


}
/*progress progress-custom*/
/*progress-bar progress-bar-custom*/
.progress-bar-custom{
    height:13px;
    margin-bottom: 0px;
    background-color: #EB7737;
}

.progress-custom-dashboard{
border-radius: 0px;
    height: 13px;
    margin-bottom: 0px;
    width:248px;
}


.list-group-item-dashboard{
    padding-bottom: 0px !important;
    border-bottom-width: 0px !important;
    padding-top: 9px!important;
    border-right: 1px solid #ddd!important;
    background-color: white !important;
}
.portfolio-attachment-display-box{
    border-right: 1px solid #ddd !important;

}
.inline{
    float:left;
}

.animate-show {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    line-height:20px;
    opacity:1;
    padding:10px;
    border:1px solid black;
    background:white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display:block!important;
}

.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}

.check-element {
    padding:10px;
    border:1px solid black;
    background:white;
}

.modal-content-custom-badge-edit{
   width:400px;
}

.modal-body-custom{
    line-height: 2;
}

.form-group-institution{
    line-height:2;
}

.portfolio-form{
    width: 346px;
}
.video-thumbnails{

    float:left;
}
.video-thumbnail{
  display:inline;
}
#sidebar2{
    padding-right:0px! important;
}
.custom-main-left-panel{
    padding-left: 0px !important;
    padding-right: 0px !important;

}
.badge{
    padding-left: 0px;
    margin-right: 10px;
    padding-right: 0px;
    background-color: transparent;
}
.edit-buttons{
    font-size: 0.85em !important;
    line-height: 0.55em !important;
    font-family: inherit !important;
    background-color: #D1D1D1;
    border-color:#D1D1D1;
    color:#272727;
}

.edit-buttons i {
    background-color: #D1D1D1;
    border-color:#D1D1D1;
    color:#272727;
}

.list-group-item-customize-left h6{
    color:#272727;
}

#top-card,#top-card-job{
    /*background-color: #FaFaFa;*/
    border-radius: 2px 0 0 0 !important;
    padding-right:0px!important;


}
.edit-personal-summary{
    padding: 5px 10px;
    margin: 1px 21px  15px;
    font-size: 13px;
    width: 561px;
}

.edit-experience{
    width:430px;
}
.edit-year{
    width:90px;
}
.year{
    width:60px;
}
label, legend{
    font-size:12px;
    font-weight: bold;
}
ol, ul{
    list-style: none;
    padding-left:0px;
}
/*-----------------BADGES FORM SECTION----------------------------*/
#badges-form-wrapper {
    width:480px;
    margin:0px auto;
}
#content {
    margin-top:10px;
    padding-bottom:10px;
}
#content div {
    padding:0px;
    float:left;
}
#content-left {
    width:160px;
}

#content-right {
    margin-left:10px;
    width:160px;
}
#footer {
    width:330px;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    /*padding:10px;*/


}
#bottom {
    clear:both;
    text-align:right;
}
.badge-form-thumb{
    width:35px
}

#checkbox {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    padding-left: 26px;
    margin: 0 10px 10px 0;
    background: url('http://akcdn.okccdn.com/media/img/forms/form_spriteV9.png') no-repeat;
}
#checkboxFive {

    display:none;

}


/*-----------------BADGES FORM SECTION -END----------------------------*/


.edit-badges{
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 7px;
    vertical-align: top;
    width: 35px;
    zoom: 1;
}

.modal-dialog-video-custom{
    margin-left: 15% !important;
    margin-top: 3% !important;
}
.modal-content-video{
    width:902px;
    height:480px;
}

.form-control{
   border-radius:2px;
}

.modal-content-custom-porfolio{
    width:458px;
}
.modal-dialog-custom{

  width:600px;
  margin-top:0px;
}

.wrap{
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}
.badge-thumbnail{
    /*margin: 1px; padding: 1px; float: left; width:20px; height:20px; font-size: 12px; text-align: center; border: solid 1px black;*/
    float:left;
    width: 45px!important;
    height: 45px!important;



    list-style-type: none;

}

.badge-form-mini-thumb{

    width: 25px!important;
    height: 25px!important;



    list-style-type: none;
}

.modal-header-custom{
    padding: 0 0;
    color: #F7F0F0;
    margin-left: auto;
    margin-right: auto;
}
.modal-body-custom{
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
}

#badges tr td{
    /*border:0.2em solid grey;*/
    /*border-width:3px;*/
    display: table ;
    display: table-cell  ;

}
.no-institution-picture{
    box-shadow: none;
    width: 100%;
    height: 250px;
    background-color:#576169; ;
    background: url("/img/institution-ghost.png") no-repeat;
    text-indent: 0;
    text-align: right;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    color: black;
    z-index: 9;
}
.no-job-picture{
    box-shadow: none;
    width: 207px;
    height: 207px;
    background-color:#595959 ;
    /*background: url("/img/placeholder3.png") no-repeat;*/
    text-indent: 0;
    text-align: center;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    color: #fff;
    z-index: 9;
}

.no-picture{
    box-shadow: none;
    width: 100%;
    height: 250px;
    background: url("/img/placeholder3.png") no-repeat;
    text-indent: 0;
    text-align: center;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    color: #fff;
    z-index: 9;
}
.no-picture-mini{
    height: 100px;
    background: url("/img/placeholder3mini.png") no-repeat;
}

.addPictLink{
    padding-top: 116px;

}
.img-thumbnail{
    border-left-width: 0px;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    padding-top: 0px;
    z-index:-1;
}
/* app css stylesheet */
.btn-primary-custom {
    color: #fff;
    font-weight:bold;
    /*background-color: #428bca;*/
    /*border-color: #357ebd;*/
    background-color: #EB7737 !important;
    border-color: #EB7737 !important;
}

.btn-primary-custom-home-search {
    color: #fff;
    font-weight:bold;
    /*background-color: #428bca;*/
    /*border-color: #357ebd;*/
    background-color: #EB7737 !important;
    border-color:#101010;
}
.btn-primary-custom-home-search.disabled,.btn-primary-custom-home-search.disabled.active,.btn-primary-custom-home-search[disabled] {

    border-color:#101010;
}

.new-account{
    color: #576169;
}

.btn-signin {
    margin-top: 10px;
    background-color: #EB7737 !important;
    color: #fff;
    border-radius:1px!important;
    height:38px !important;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/*-----------------BADGES SECTION----------------------------*/
.list-group-item-custom{
    padding: 2px 15px 5px 12px;

}
.list-group-item-customize-left{
    background-color:#FaFaFa;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
/*padding: 2px 15px 5px 12px; !important*/
/*margin-bottom: 0px;*/
/*}*/

/*#h6-text{*/
/*padding: 2px 15px -25px 0px; !important*/
/*margin-bottom: 0px;*/
}



.progress-custom{
    height:13px;
    padding-bottom:5px;

}

.progress-bar-custom{
    height:13px;
    margin-bottom: 10px;
    background-color: #EB7737;
}
/*-----------------ICONS CUSTOM----------------------------*/
.icon-car {
    background-image: url("http://cdn5.iconfinder.com/data/icons/Symbolicons_Transportation/24/Car.png");
    background-position: center center;
}

/*-----------------FORMS CUSTOM----------------------------*/

#email-form{
    width:75%;

}

.profile-forms{
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    height: 20px;
    /*width: 20px;*/
    padding-left: 5px;
    border-radius: 2px;
    display: box;
    box-orient: horizontal;
    position:relative;
    box-flex: 1;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #cccccc;
}

.form-signin
{
    max-width: 330px;
    padding: 0px;
    margin: 20px auto;
}
.form-signup
{
    max-width: 330px;
    padding: 0px;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
    color: #333;
}

.form-control-custom{
    width: 120%;
    /*margin-top: 15px;*/
}
.form-signin .form-control-custom
{
    position: relative;
    font-size: 14px;
    line-height: 1.2;
    height: auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control:focus {
    border-color: #F8C691;
    outline: 0;
    webkit-box-shadow:none !important;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);*/
    box-shadow:none !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

#a-custom:hover{
    color: #EB7737 !important;
    text-decoration: underline;
}

/*-----------------POPOVER CUSTOM---------------------------*/

.popover {
    width: auto;
    position: absolute;
    z-index: 5000;
    width: 355px;
    max-width: 355px;
}

.popover-content{
    padding: 0 0 0 0;
}
.social-connect-container{
    padding: 0 0 0 0;
}
#email-connector{
    vertical-align: top;
    padding-left: 15px;
}

#social-connectors{
    vertical-align: top;
    padding-right: 10px;
    height:100%;
    border-right: 2px solid #E0E7EC;

}


/*-----------------CONTAINER----------------------------*/

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
/* Non-responsive overrides
/* Reset the container */
.container {
    max-width: none !important;
    width: 970px;
    padding-right: 0px;
    padding-left: 0px;

}
/*-----------------NAVBAR CUSTOM--------------------*/
/* Always float the navbar header */
#profile-id{
    padding: 0 0;
}
.navbar {
    height: 51px;
}
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-brand {
    margin-left: -15px;
    margin-top: -4px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

.signin-button, .signin-button>a {
    background-color:#EB7737 !important;
    color:#fff;
}

/*-----------------BODY------------*/
/* Account for fixed navbar */
body {
    padding-top: 60px;
    padding-bottom: 30px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}
.page-header .lead {
    margin-bottom: 10px;
}


body { font-family: Arial, sans-serif; }

.panel-custom{
    background-color: #D47A46;
    opacity: 0.3;

}

.active-custom {

}

/*----------PANELS and SUCH----------*/
/*.search-panel{*/
/*padding: 0px 0px !important ;*/
/*margin: 0px 0px !important ;*/
/*}*/

/*.sidebar-offcanvas{*/
/*padding: 0px 0px !important ;*/
/*margin: 0px 0px !important ;*/
/*}*/
.profile-badges{
    padding: 5px 0px 0px ;
}

.profile-badges img{
    padding: 5px;
    /*width: 40px !important;*/
}

.list-group-item-customized{
    border-radius: 0 !important;
    font-size: 0.8em;
}

.list-group-item-customized-inside-right{
    border-top-left-radius:0em !important;
    padding: 0 10px  !important ;

}


.list-group-item-customized-inside-left{
    border-top-right-radius:0em !important;
    padding: 0 10px  !important ;

}
.list-group-item-customized-middle{
    border-radius:0em !important;
    padding: 0 10px  !important ;

}
.list-group-item-customized-mini{
    border-radius: 0 !important;
    font-size: 0.5em;
}

.list-group-item-heading-customized{
    font-size: 1.2em;


}
.list-group-item-heading-customized-mini{
    font-size: 0.5em;


}

.active{

}
.list-group-item-active-customized{
    border-radius: 0 !important;
    background-color: #D47A46 !important;

}

.search-image{
    padding: 2px 5px;
}

.main-search-image{
    padding: 3px 8px;
}

.main-search-job-image{

}

.tab-content{
    padding: 0px 40px;
}

/*------------BUTTONS CUSTOM----------*/

.fa-linkedin-custom{
    vertical-align: -2% !important;
    padding-right: 3px;
    /*padding: 4px 0 5px 10px;*/
    /*margin-left: 1px;*/
    border-right: 1px solid #E0E7EC;

}
.fa-facebook-custom{
    vertical-align: -2% !important;
    padding-right: 5px;
    /*padding: 4px 0 5px 10px;*/
    /*margin-left: 1px;*/
    border-right: 1px solid #E0E7EC;

}

.btn-social-google{
    width:80px!important;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: #b64b33;
    border-color: #863523;
    height: 29px;
    padding-left: 5px;
    margin-bottom:10px;
    margin-bottom:10px;
}
.btn-social-google-home-page{
    width:126px!important;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: white;
    color: #b64b33;
    border-color: #863523;
    border-color: #863523;
    /*background-color: #919191;*/
    /*border-color: #863523;*/
    height: 29px;
    padding-left: 5px;
    /*margin-bottom:10px;*/
    margin-right:10px;
    margin-left:10px;
}
.btn-signin {
    margin-top: 10px;
}
.btn-social-facebook{
    width:80px!important;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: #4e5f9e;
    border-color: #4e5f9e;
    height: 29px;
    padding-left: 5px;
    margin-bottom:10px;

}
.btn-social-facebook-home-page{
    width:126px!important;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: white;
    color: #4e5f9e;
    border-color: #4e5f9e;
    /*background-color: #919191;*/
    /*border-color: #4e5f9e;*/
    height: 29px;
    padding-left: 5px;
    /*margin-bottom:10px;*/
    margin-right:10px;

}
.btn-social-linkedin{
    width:80px!important;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: #007bb6;
    border-color: #E0E7EC;
    height: 29px;
    padding-left: 5px;
}
.btn-social-linkedin-home-page{
    /*width:88px!important;*/
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: #007bb6;
    background-color:white;
    color: #007bb6;
    border-color: #007bb6;
    /*background-color: #919191;*/
    /*border-color: #007bb6;*/
    height: 29px;
    padding-left: 5px;
    /*margin-bottom:10px;*/
    margin-left:10px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .navigation-dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #d0c2b1 !important;
    border-color: #D06D12 !important;
}

#signin-btn{
    background-color: #D06D12;
    border-color: #d0c2b1;
}
.btn-block-custom{
    display: block;
    width: 120%;

    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 11px;
    line-height: 1;
    border-radius: 3px;

}

.btn-top-card-profile{
    margin-top: 70px;
    margin-left: 330px;
}



/*----------------------*/



#loginBox{
    margin-top:20px ;
}


.home-banner-left {
    margin: 15px;
    font-size:0.7em;
}

.featurette-heading h2  {
    font-size:0.3em;
}

.featurette {
    font-size:1em;
}



.banner{
    /*background: url("../img/BannerBackgroung.png") no-repeat;*/
    background-color: white;
    /*background-size: 100%;*/
    margin-top: -10px;

}


.top-search-textbox {
    width: 250px;
}

.nowrap {
    white-space: nowrap;
}

.pad-body {
    padding-top: 70px;
}
.pad-footer {
    padding-left: 15px;
    padding-right: 15px;
}

.big-container {
    margin-left: 15px;
    margin-right: 15px;
}
.white-popup {
    height: 408px !important;
    width: 500px !important;
}

.background-label {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(51, 51, 51);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 7px;
    vertical-align: top;
    width: 106px;
    zoom: 1;
}
.ppl-also-title {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 0, 0);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(0, 0, 0);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: baseline;
    text-align: justify;

}
.ppl-also {
    border-bottom-color: rgb(51, 51, 51);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51, 51, 51);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(51, 51, 51);
    display: list-item;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 70px;
    line-height: 13px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(51, 51, 51);
    outline-style: none;
    outline-width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    vertical-align: baseline;
}

.ppl-also-name {
    color: rgb(0, 119, 181);
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}
.ppl-also-name-mini {
    color: rgb(0, 119, 181);
    font-weight: bold;

}

.ppl-also-text {
    color: black;
    font-size: 10px;
}


/**********************************************tags*/
.tags {
    font-size:12px;

    display: inline-block;
    padding: 3px 6px 4px;
    margin-bottom: 2px;
    margin-top: 2px!important;
    color: #75757c !important;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 2px;
    background-color: #cccccf !important;
    /*border: 1px solid #00000f !important;*/
    border: 1px solid #5e5e67!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    width: 206px;
}
.tags-hover {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.tags[class*="span"] {
    float: none;
    margin-left: 0;
}
/*.tags input[type="text"],*/
/*.tags input[type="text"]:focus {*/
/*border: none;*/
/*display: inline;*/
/*outline: 0;*/
/*margin: 0;*/
/*padding: 0;*/
/*font-size: 11.844px;*/
/*line-height: 14px;*/
/*-webkit-box-shadow: none;*/
/*-moz-box-shadow: none;*/
/*box-shadow: none;*/
/*width: 100%;*/
/*}*/
.tm-tag-custom {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin-bottom: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.tag:empty {
    display: none;
}
.tag-important {
    background-color: #953b39;
}
.tag-warning {
    background-color: #c67605;
}
.tag-success {
    background-color: #356635;
}
.tag-info {
    background-color: #2d6987;
}
.tag-inverse {
    background-color: #1a1a1a;
}
.tag .close {
    font-size: 14px;
    line-height: 14px;
    margin-left: 7px;
}



.lead-custom{
    margin-bottom: 5px !important;
}

.profile-top-card{
    padding:0px;
}

.profile-picture{
    width:207px;
    /*height:180px; */
    position: relative;
    padding-bottom: 25px;
    margin-top:9px;
    margin-left:0px;
    margin-right:20px !important;
    padding-left:10px;
    overflow: hidden;
    float:left;
    z-index:1000;
}



/*.profile-overview{*/
    /*position: relative;*/
    /*z-index: 5;*/
    /*float: right;*/
    /*width: 335px;*/
    /*word-wrap: break-word;*/
    /*padding-left: 10px;*/
    /*padding-right: 20px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 0px!important;*/

/*}*/

.profile-picture-container{
    width:210px;
    /*height:180px;*/
    position: relative;
    margin-top:9px;
    overflow: hidden;
    float:left;

}

/*.profile-overview-content{*/
    /*min-height: 149px;*/
    /*height: auto;*/
    /*padding-top:0px;*/
    /*padding-bottom: 15px;*/
    /*position:relative;*/
    /*margin-top:20px!important;*/
/*}*/

/*.profile-overview-content-edit{*/
    /*min-height: 149px;*/
    /*background-color: blanchedalmond;*/
    /*height: auto;*/
    /*padding-top:0px;*/
    /*padding-bottom: 15px;*/

/*}*/

.profile-overview,.profile-overview-content{
    margin-left:0px;
    padding-left: 0px;
}



.account-icons, #badge{
    float: right;
    margin: -5px 0 0 0;
    padding: 0 0 ;
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
    zoom: 1;
    opacity: 0.7;
}

.badge-container, #badge{
    vertical-align: top;
}

#name-container,#name-container > h2{
    line-height: 0.2;

    margin-left:12px;
}

#headline-container{
    font-size: 0.6em;
    margin-left:25px;
}
#headline{
    margin-top:5px;
    font-size: 0.85em;


}
#headline-institution{
    font-size: 0.84em;


}
#headline-location{
    font-size: 0.84em;


}
#headline-i{
    font-size: 0.84em;


}

#demographic-info{
    font-size: 0.55em;
    text-decoration: none !important;
    margin-left:25px;

}

#profile-card-table{
    padding: 0px;
    font-weight:normal !important;
    text-decoration: none !important;
    font-size: 0.9em;
    vertical-align:text-top;
    margin: 5px 25px 0;


}

/*table{*/
/*border-collapse: collapse;*/
/*border-spacing: 0;*/
/*border-spacing: 1000px;*/
/*border-color: gray;*/
/*}*/
tbody{
    display: table-row-group;
}
/*#profile-card-table > th*/
.profile-card-table-th{
    font-size: 0.80em;
    font-weight:normal;
    text-decoration: none !important;
    color: #999;
    /*vertical-align: top;*/
    padding: 2px 15px 0 0;
    white-space: nowrap;
    vertical-align: baseline;
}

.profile-card-table-td{
    font-size: 0.85em;
    padding: 2px 0 0 0;

}

.profile-edit{
    margin: 10px 0;
}

.tag-custom{
    /*background-color: navajowhite !important;*/
}

#summary-container{
    margin: 5px 35px 0 35px;

}

#summary-container p{
    background-color: white;
    margin-bottom: 25px;
    padding:0 10px;

}
.user-summary{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
    line-height: 1.428571429;
    color: #333;
    text-align:justify;

}




.collapse {
    height: auto;
    width:auto;
}

.collapse.height {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.width {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.collapse.in.width {
    width:16%;
}

.collapse.in.height {
    height: auto;
}

.home-bottom-text {
    margin-left: 45px;
}



.expertise-tags li {
    color:#75757c !important;
    background-color: #cccccf !important;
    background: #cccccf !important;
    border-color:#5e5e67!important;
}

.search-result-body {
    height:50px;

}

.search-results-image {
    width:110px;
}



.dropdown-menu {
    background-color: #333;
    border-radius:3px;
}

.dropdown-menu > li > a {
    color: #ddd;
}

.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #333;
}

.dropdown-menu>li>a:focus {
    color: #fff;
    background-color: #333;
    border-color: #333;
    outline-color: #333;
}

.dropdown-menu:focus {
    outline: none;
}



.get-in-touch {
    position: relative;
    margin: 0 auto;
    padding: 30px;
    max-width: 370px;
    border-radius: 2px;
}

.get-in-touch input[type=text],.get-in-touch input[type=email], .get-in-touch textarea {
    background: #FCF9F9;
    color: #FCF9F9;
}
.get-in-touch  input:focus, .get-in-touch  textarea:focus {
    outline: 0;
    background: #FFF;
}

.briefcase{
    font-size:9em;
    margin-left:35px;
    margin-top: 5px;
    color: white;
}

.no-picture-job-mini {
    background-color:  #595959;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.toolbar-image {
    width: 52px;
}

.adj-table {
    display: table;
}

.adj-row {
    display: table-row;
}

.adj-cell {
    display: table-cell;
}

.signin-popover {
    margin: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    
}

.modal-sign-form{
    height:37px;
}

.row-space-2 {
    margin-bottom: 12px;
}

.clearfix:before, .clearfix:after {
     content: " ";
     display: table;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.remember-me{
  float: left;
  padding-top: 0;
  padding-bottom: 0;
 }

a.editable-click {
    color: green;
    border-bottom: dotted 2px green;
}
a.editable-click:hover {
    color: #47a447;
    border-bottom-color: #47a447;
}
.editable-empty,.editable-click-empty,.editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
    color: #0077b5;
    font-style: normal;
    text-decoration: none;
    font-size:14px;
}
#headline-container-editing,#institution-container-editing, #education-container-editing{
    font-size: 15px;
    line-height: 20px;
    color: #555;
    font-weight: normal;
    padding-top: 1px;
    padding-bottom: 1px;

}
#demographic-info-editing{
    font-size:14px;
}

/*for signup modal*/
/*.panel-body{*/
/*width: 315px;*/
/*margin: 0;*/
/*padding: 20px;*/
/*border-top: 1px solid #dbdbdb;*/
/*}*
/

