.portfolio-form{
    width: 346px;
}
.video-thumbnails{

    float:left;
}
.video-thumbnail{
  display:inline;
}
#sidebar2{
    padding-right:0px! important;
}
.custom-main-left-panel{
    padding-right: 0px !important;
}
.badge{
    padding-left: 0px;
    margin-right: 10px;
    padding-right: 0px;
    background-color: transparent;
}
.edit-buttons{
    /*background-color: #707070;*/
    /*border-color:#707070;*/
    /*color:white;*/
    background-color: #D1D1D1;
    border-color:#D1D1D1;
    color:#272727;
}
.list-group-item-customize-left h6{
    color:#272727;
}

#top-card{
    background-color: #F6F6F6;
    /*border-bottom-right-radius: 0px !important;*/
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;

}
.edit-experience{
    width:390px;
}
.edit-year{
    width:90px;
}
.year{
    width:60px;
}
label, legend{
    font-size:14px;
    font-weight: normal
}
ol, ul{
    list-style: none;
    padding-left:0px;
}
/*-----------------BADGES FORM SECTION----------------------------*/
#badges-form-wrapper {
    width:358px;
    margin:0px auto;
}
#content {
    margin-top:10px;
    padding-bottom:10px;
}
#content div {
    padding:0px;
    float:left;
}
#content-left {
    width:160px;
}

#content-right {
    margin-left:10px;
    width:160px;
}
#footer {
    width:330px;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    /*padding:10px;*/


}
#bottom {
    clear:both;
    text-align:right;
}
.badge-form-thumb{
    width:35px
}
#checkbox {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    padding-left: 26px;
    margin: 0 10px 10px 0;
    background: url('http://akcdn.okccdn.com/media/img/forms/form_spriteV9.png') no-repeat;
}
#checkboxFive {

    display:none;

}


/*-----------------BADGES FORM SECTION -END----------------------------*/


#edit-top-card{
    font-size: 0.85em !important;
    line-height: 0.55em !important;
    font-family: inherit !important;
}

#edit-badges{
    font-size: 1em !important;
    line-height: 0.95em !important;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 7.5px;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 7.5px;
    vertical-align: top;
    width: 35px;
    zoom: 1;
}

.modal-dialog-video-custom{
    margin-left: 15% !important;
    margin-top: 3% !important;
}
.modal-content-video{
    width:902px;
    height:480px;
}
.modal-content-custom{
    background-color:#F6F6F6;
}
.modal-content-custom-porfolio{
    width:458px;
}
.modal-dialog-custom{

  width:380px;
  margin-top:150px;
}

.wrap{
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}
.badge-thumbnail{
    /*margin: 1px; padding: 1px; float: left; width:20px; height:20px; font-size: 12px; text-align: center; border: solid 1px black;*/
    float:left;
    width: 45px!important;
    height: 45px!important;



    list-style-type: none;

}

.badge-form-mini-thumb{

    width: 25px!important;
    height: 25px!important;



    list-style-type: none;
}

.modal-header-custom{
    padding: 0 0;
    color: #F7F0F0;
    margin-left: auto;
    margin-right: auto;
}
.modal-body-custom{
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
}

#badges tr td{
    /*border:0.2em solid grey;*/
    /*border-width:3px;*/
    display: table ;
    display: table-cell  ;

}
.no-institution-picture{
    box-shadow: none;
    width: 100%;
    height: 250px;
    background-color:#576169; ;
    /*background: url("/img/placeholder3.png") no-repeat;*/
    text-indent: 0;
    text-align: center;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    color: #fff;
    z-index: 9;
}
.no-job-picture{
    box-shadow: none;
    width: 100%;
    height: 250px;
    background-color:#576169; ;
    /*background: url("/img/placeholder3.png") no-repeat;*/
    text-indent: 0;
    text-align: center;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    color: #fff;
    z-index: 9;

    /*background: url('../uploads/icon_add_photo_27x27_v1.png') no-repeat;*/
}

.no-picture{
    box-shadow: none;
    width: 100%;
    height: 250px;
    background: url("/img/placeholder3.png") no-repeat;
    text-indent: 0;
    text-align: center;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    color: #fff;
    z-index: 9;

    /*background: url('../uploads/icon_add_photo_27x27_v1.png') no-repeat;*/
}
.no-picture-mini{
    box-shadow: none;
    width: 100%;
    height: 100px;
    background: url("/img/placeholder3mini.png") no-repeat;
    text-indent: 0;
    text-align: center;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    color: #fff;
    z-index: 9;

    /*background: url('../uploads/icon_add_photo_27x27_v1.png') no-repeat;*/
}
.addPictLink{
    padding-top: 90px;

}
.img-thumbnail{
    border-left-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    padding-top: 0px;
    height: 211px;
    width: 211px;
    z-index:-1;
}
/* app css stylesheet */
.btn-primary-custom {
    color: #fff;
    /*background-color: #428bca;*/
    /*border-color: #357ebd;*/
    background-color: #D06D12 !important;
    border-color: #D06D12 !important;
}

.new-account{
    color: #576169;
}

.btn-signin {
    margin-top: 10px;
    background-color: #D06D12 !important;
    color: #fff;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/*-----------------BADGES SECTION----------------------------*/
.list-group-item-custom{
    padding: 2px 15px 5px 12px;

}
.list-group-item-customize-left{
    background-color:#F6F6F6;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
/*padding: 2px 15px 5px 12px; !important*/
/*margin-bottom: 0px;*/
/*}*/

/*#h6-text{*/
/*padding: 2px 15px -25px 0px; !important*/
/*margin-bottom: 0px;*/
}


.progress-custom{
    height:13px;
    margin-bottom: 10px;
}

.progress-bar-custom{
    height:13px;
    margin-bottom: 10px;
    background-color: #EB7737;
}
/*-----------------ICONS CUSTOM----------------------------*/
.icon-car {
    background-image: url("http://cdn5.iconfinder.com/data/icons/Symbolicons_Transportation/24/Car.png");
    background-position: center center;
}

/*-----------------FORMS CUSTOM----------------------------*/

#email-form{
    width:75%;

}

.profile-forms{
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    height: 20px;
    /*width: 20px;*/
    padding-left: 5px;
    border-radius: 2px;
    display: box;
    box-orient: horizontal;
    position:relative;
    box-flex: 1;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #cccccc;
}


.form-signin
{
    max-width: 330px;
    padding: 0px;
    margin: 20px auto;
    /*margin-top: 15px;*/
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}

.form-control-custom{
    width: 120%;
    /*margin-top: 15px;*/
}
.form-signin .form-control-custom
{
    position: relative;
    font-size: 14px;
    line-height: 1.2;
    height: auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control:focus {
    border-color: #F8C691;
    outline: 0;
    webkit-box-shadow:none !important;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);*/
    box-shadow:none !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

/*-----------------POPOVER CUSTOM---------------------------*/

.popover {

    /*max-width: 230px;*/
    /*min-width: 230px;*/
    width: auto;
    position: absolute;
    background-color: #f4f4f4;

    /*background: url("../img/popover-background.png") ;*/
    z-index: 5000;
    width: 355px;
    max-width: 355px;



}
.popover-content{
    padding: 0 0 0 0;
}
.social-connect-container{
    padding: 0 0 0 0;
}
#email-connector{
    vertical-align: top;
    padding-left: 15px;
}

#social-connectors{
    vertical-align: top;
    padding-right: 10px;
    height:100%;
    border-right: 2px solid #E0E7EC;

}


/*-----------------CONTAINER----------------------------*/

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
/* Non-responsive overrides
/* Reset the container */
.container {
    max-width: none !important;
    width: 970px;
}
/*-----------------NAVBAR CUSTOM--------------------*/
/* Always float the navbar header */
#profile-id{
    padding: 0 0;
}
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-brand {
    margin-left: -15px;
    margin-top: 0;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/*-----------------BODY------------*/
/* Account for fixed navbar */
body {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}
.page-header .lead {
    margin-bottom: 10px;
}


body { font-family: Arial, sans-serif; }

.panel-custom{
    background-color: #D47A46;
    opacity: 0.3;

}

.active-custom {

}

/*----------PANELS and SUCH----------*/
/*.search-panel{*/
/*padding: 0px 0px !important ;*/
/*margin: 0px 0px !important ;*/
/*}*/

/*.sidebar-offcanvas{*/
/*padding: 0px 0px !important ;*/
/*margin: 0px 0px !important ;*/
/*}*/
.profile-badges{
    padding: 5px 0px 0px ;
}

.profile-badges img{
    padding: 5px;
    /*width: 40px !important;*/
}

.list-group-item-customized{
    border-radius: 0 !important;
    font-size: 0.8em;
}

.list-group-item-customized-inside-right{
    border-top-left-radius:0em !important;
    padding: 0 10px  !important ;

}


.list-group-item-customized-inside-left{
    border-top-right-radius:0em !important;
    padding: 0 10px  !important ;

}
.list-group-item-customized-middle{
    border-radius:0em !important;
    padding: 0 10px  !important ;

}
.list-group-item-customized-mini{
    border-radius: 0 !important;
    font-size: 0.5em;
}

.list-group-item-heading-customized{
    font-size: 1.2em;


}
.list-group-item-heading-customized-mini{
    font-size: 0.5em;


}

.active{

}
.list-group-item-active-customized{
    border-radius: 0 !important;
    background-color: #D47A46 !important;

}

.search-image{
    padding: 2px 5px;
}

.main-search-image{
    padding: 3px 8px;
}

.main-search-job-image{
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right:10px;
}

.tab-content{
    padding: 0px 40px;
}

/*------------BUTTONS CUSTOM----------*/

.fa-linkedin-custom{
    vertical-align: -2% !important;
    padding-right: 3px;
    /*padding: 4px 0 5px 10px;*/
    /*margin-left: 1px;*/
    border-right: 1px solid #E0E7EC;

}
.fa-facebook-custom{
    vertical-align: -2% !important;
    padding-right: 5px;
    /*padding: 4px 0 5px 10px;*/
    /*margin-left: 1px;*/
    border-right: 1px solid #E0E7EC;

}

.btn-social-google{
    width:80px!important;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: #b64b33;
    border-color: #863523;
    height: 29px;
    padding-left: 5px;
    margin-bottom:10px;
    margin-bottom:10px;
}
.btn-signin {
    margin-top: 10px;
}
.btn-social-facebook{
    width:80px!important;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: #4e5f9e;
    border-color: #4e5f9e;
    height: 29px;
    padding-left: 5px;
    margin-bottom:10px;

}
.btn-social-linkedin{
    width:80px!important;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 0;
    background-color: #007bb6;
    border-color: #E0E7EC;
    height: 29px;
    padding-left: 5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #d0c2b1 !important;
    border-color: #D06D12 !important;
}

#signin-btn{
    background-color: #D06D12;
    border-color: #d0c2b1;
}
.btn-block-custom{
    display: block;
    width: 120%;

    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 11px;
    line-height: 1;
    border-radius: 3px;

}

.btn-top-card-profile{
    margin-top: 70px;
    margin-left: 330px;
}



/*----------------------*/



#loginBox{
    margin-top:20px ;
}

/*.banner-text h2{*/
/*line-height: 1;*/
/*}*/

.banner-text {
    margin: 15px;
    font-size:0.7em;
}

.featurette-heading h2  {
    font-size:0.3em;
}

.featurette {
    font-size:1em;
}



.banner{
    background: url("../img/BannerBackgroung.png") no-repeat;
    background-size: 100%;
    margin-top: -10px;
}


.top-search-textbox {
    width: 250px;
}

.nowrap {
    white-space: nowrap;
}

.pad-body {
    padding-top: 70px;
}
.pad-footer {
    padding-left: 15px;
    padding-right: 15px;
}

.big-container {
    margin-left: 15px;
    margin-right: 15px;
}
.white-popup {
    height: 408px !important;
    width: 500px !important;
}

.background-label {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(51, 51, 51);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 7.5px;
    vertical-align: top;
    width: 106px;
    zoom: 1;
}
.ppl-also-title {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 0, 0);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(0, 0, 0);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: baseline;
    width: 215px;
}
.ppl-also {
    border-bottom-color: rgb(51, 51, 51);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51, 51, 51);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(51, 51, 51);
    display: list-item;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 70px;
    line-height: 13px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(51, 51, 51);
    outline-style: none;
    outline-width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    vertical-align: baseline;
}

.ppl-also-name {
    border-bottom-color: rgb(0, 119, 181);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 119, 181);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 119, 181);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 119, 181);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(0, 119, 181);
    cursor: auto;
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: auto;
    line-height: 17px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 119, 181);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline;
    width: auto;
}
.ppl-also-name-mini {
    color: rgb(0, 119, 181);
    font-weight: bold;

}

.ppl-also-text {
    color: black;
    font-size: 10px;
}

mfp-container-custom{
    width: 100% !important;
    height: 100% !important;
}



/**********************************************tags*/
.tags {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    width: 206px;
}
.tags-hover {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.tags[class*="span"] {
    float: none;
    margin-left: 0;
}
/*.tags input[type="text"],*/
/*.tags input[type="text"]:focus {*/
/*border: none;*/
/*display: inline;*/
/*outline: 0;*/
/*margin: 0;*/
/*padding: 0;*/
/*font-size: 11.844px;*/
/*line-height: 14px;*/
/*-webkit-box-shadow: none;*/
/*-moz-box-shadow: none;*/
/*box-shadow: none;*/
/*width: 100%;*/
/*}*/
.tm-tag-custom {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin-bottom: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.tag:empty {
    display: none;
}
.tag-important {
    background-color: #953b39;
}
.tag-warning {
    background-color: #c67605;
}
.tag-success {
    background-color: #356635;
}
.tag-info {
    background-color: #2d6987;
}
.tag-inverse {
    background-color: #1a1a1a;
}
.tag .close {
    font-size: 14px;
    line-height: 14px;
    margin-left: 7px;
}



.lead-custom{
    margin-bottom: 5px !important;
}



.profile-picture{
    width:207px;
    /*height:180px; */
    position: relative;
    margin-top:9px;
    margin-left:-10px !important;
    margin-right:30px !important;
    overflow: hidden;
    float:left;
    z-index:1000;
}



.profile-overview{
    position: relative;
    z-index: 5;
    float: right;
    width: 335px;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px!important;

}

.profile-picture-container{
    width:210px;
    /*height:180px;*/
    position: relative;
    margin-top:9px;
    overflow: hidden;
    float:left;
    /*background-color: hotpink;*/
}

.profile-overview-content{
    min-height: 149px;
    height: auto;
    padding-top:0px;
    padding-bottom: 15px;
    position:relative;
}

.profile-overview-content-edit{
    min-height: 149px;
    /*background-color: blanchedalmond;*/
    height: auto;
    padding-top:0px;
    padding-bottom: 15px;

}



.account-icons, #badge{
    float: right;
    margin: -5px 0 0 0;
    padding: 0 0 ;
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
    zoom: 1;
    opacity: 0.7;
}

.badge-container, #badge{
    vertical-align: top;
}

#name-container,#name-container > h2{
    line-height: 0.2;
    font-size: 0.90em !important;
    margin-left:12px;
}

#headline-container{
    font-size: 0.6em;
    margin-left:25px;
}
#headline{
    margin-top:5px;
    font-size: 0.85em;


}
#headline-institution{
    font-size: 0.84em;


}
#headline-location{
    font-size: 0.84em;


}
#headline-i{
    font-size: 0.84em;


}

#demographic-info{
    font-size: 0.55em;
    text-decoration: none !important;
    margin-left:25px;

}

#profile-card-table{
    padding: 0px;
    font-weight:normal !important;
    text-decoration: none !important;
    font-size: 0.9em;
    vertical-align:text-top;
    margin: 5px 25px 0;


}

/*table{*/
/*border-collapse: collapse;*/
/*border-spacing: 0;*/
/*border-spacing: 1000px;*/
/*border-color: gray;*/
/*}*/
tbody{
    display: table-row-group;
}
/*#profile-card-table > th*/
.profile-card-table-th{
    font-size: 0.80em;
    font-weight:normal;
    text-decoration: none !important;
    color: #999;
    /*vertical-align: top;*/
    padding: 2px 15px 0 0;
    white-space: nowrap;
    vertical-align: baseline;
}

.profile-card-table-td{
    font-size: 0.85em;
    padding: 2px 0 0 0;

}

.profile-edit{
    margin: 10px 0;
}

.tag-custom{
    /*background-color: navajowhite !important;*/
}

#summary-container{
    margin: 0 auto;
}
.user-summary{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
    line-height: 1.428571429;
    color: #333;
    text-align:justify;

}




.collapse {
    height: auto;
    width:auto;
}

.collapse.height {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.width {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.collapse.in.width {
    width:16%;
}

.collapse.in.height {
    height: auto;
}

.home-bottom-text {
    margin-left: 45px;
}



.expertise-tags li {
    color: #ffffff !important;
    background: #428bca !important;
    border-color: #357ebd !important;
}
