/* app css stylesheet */

/*-----------------CUSTOM ICONS----------------------------*/
.icon-car {
    background-image: url("http://cdn5.iconfinder.com/data/icons/Symbolicons_Transportation/24/Car.png");
    background-position: center center;
}

/*-----------------CONTAINER----------------------------*/

.container .navbar-header,
.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
/* Non-responsive overrides
/* Reset the container */
.container {
    max-width: none !important;
    width: 970px;
}
/*-----------------NAVBAR--------------------*/
/* Always float the navbar header */
#profile-id{
    padding: 0 0;
}
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-brand {
    margin-left: -15px;
    margin-top: 0;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/*-----------------BODY------------*/
/* Account for fixed navbar */
body {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* Finesse the page header spacing */
.page-header {
    margin-bottom: 30px;
}
.page-header .lead {
    margin-bottom: 10px;
}


body { font-family: Arial, sans-serif; }

.panel-custom{
    background-color: #D47A46;
    opacity: 0.3;

}

.active-custom {

}

/*----------PANELS and SUCH----------*/
/*.search-panel{*/
/*padding: 0px 0px !important ;*/
/*margin: 0px 0px !important ;*/
/*}*/

/*.sidebar-offcanvas{*/
/*padding: 0px 0px !important ;*/
/*margin: 0px 0px !important ;*/
/*}*/
.profile-badges{
    padding: 5px 0px 0px ;
}

.profile-badges img{
    padding: 5px;
    /*width: 40px !important;*/
}

.list-group-item-customized{
    border-radius: 0 !important;
    font-size: 0.8em;
}

.list-group-item-customized-inside-right{
    border-top-left-radius:0em !important;
    padding: 0 10px  !important ;

}
.list-group-item-customized-middle{
    border-radius:0em !important;
    padding: 0 10px  !important ;

}
.list-group-item-customized-mini{
    border-radius: 0 !important;
    font-size: 0.5em;
}

.list-group-item-heading-customized{
    font-size: 1.2em;


}
.list-group-item-heading-customized-mini{
    font-size: 0.5em;


}

.active{

}
.list-group-item-active-customized{
    border-radius: 0 !important;
    background-color: #D47A46 !important;

}

.search-image{
    padding: 2px 5px;
}

.main-search-image{
    padding: 3px 8px;
}

.main-search-job-image{
    padding: 15px 10px;
}

.tab-content{
    padding: 0px 40px;
}

/*------------BUTTONS----------*/

#loginBox{
    margin-top:20px ;
}

/*.banner-text h2{*/
/*line-height: 1;*/
/*}*/

.banner-text {
    margin: 15px;
    font-size:0.7em;
}

.featurette-heading h2  {
    font-size:0.3em;
}

.featurette {
    font-size:1em;
}

.popover {

    max-width: 230px;
    min-width: 230px;
    width: auto;
    position: absolute;

    z-index: 5000;



}

.btn-custom {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #D47A46;
    *background-color: #D47A46;
    background-image: -moz-linear-gradient(top, #F06C22, #D47A46);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F06C22), to(#D47A46));
    background-image: -webkit-linear-gradient(top, #F06C22, #D47A46);
    background-image: -o-linear-gradient(top, #F06C22, #D47A46);
    background-image: linear-gradient(to bottom, #F06C22, #D47A46);
    background-repeat: repeat-x;
    border-color: #D47A46;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F06C22', endColorstr='#D47A46', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-custom:hover,
.btn-custom:active,
.btn-custom.active,
.btn-custom.disabled,
.btn-custom[disabled] {
    color: #FFFFFF;
    background-color: #D47A46;
    *background-color: #003bb3;
}

.btn-sample {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #1B8ABD;
    *background-color: #1B8ABD;
    background-image: -moz-linear-gradient(top, #3591B5, #1B8ABD);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3591B5), to(#1B8ABD));
    background-image: -webkit-linear-gradient(top, #3591B5, #1B8ABD);
    background-image: -o-linear-gradient(top, #3591B5, #1B8ABD);
    background-image: linear-gradient(to bottom, #3591B5, #1B8ABD);
    background-repeat: repeat-x;
    border-color: #1B8ABD;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3591B5', endColorstr='#1B8ABD', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-sample:hover,
.btn-sample:active,
.btn-sample.active,
.btn-sample.disabled,
.btn-sample[disabled] {
    color: #FFFFFF;
    background-color: #1B8ABD;
    *background-color: #003bb3;
}

.banner{
    background: url("../img/BannerBackgroung.png") no-repeat;
    background-size: 100%;
    margin-top: -10px;
}


.top-search-textbox {
    width: 250px;
}

.nowrap {
    white-space: nowrap;
}

.pad-body {
    padding-top: 70px;
}
.pad-footer {
    padding-left: 15px;
    padding-right: 15px;
}

.big-container {
    margin-left: 15px;
    margin-right: 15px;
}
.white-popup {
    height: 408px !important;
    width: 500px !important;
}

.background-label {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(51, 51, 51);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 7.5px;
    vertical-align: top;
    width: 106px;
    zoom: 1;
}
.ppl-also-title {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 0, 0);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 0, 0);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(0, 0, 0);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: baseline;
    width: 215px;
}
.ppl-also {
    border-bottom-color: rgb(51, 51, 51);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51, 51, 51);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(51, 51, 51);
    display: list-item;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 70px;
    line-height: 13px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(51, 51, 51);
    outline-style: none;
    outline-width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    vertical-align: baseline;
}

.ppl-also-name {
    border-bottom-color: rgb(0, 119, 181);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 119, 181);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 119, 181);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 119, 181);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(0, 119, 181);
    cursor: auto;
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: auto;
    line-height: 17px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 119, 181);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    vertical-align: baseline;
    width: auto;
}
.ppl-also-name-mini {
    color: rgb(0, 119, 181);
    font-weight: bold;

}

.ppl-also-text {
    color: black;
    font-size: 10px;
}

mfp-container-custom{
    width: 100% !important;
    height: 100% !important;
}



/**********************************************tags*/
.tags {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    width: 206px;
}
.tags-hover {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.tags[class*="span"] {
    float: none;
    margin-left: 0;
}
/*.tags input[type="text"],*/
/*.tags input[type="text"]:focus {*/
/*border: none;*/
/*display: inline;*/
/*outline: 0;*/
/*margin: 0;*/
/*padding: 0;*/
/*font-size: 11.844px;*/
/*line-height: 14px;*/
/*-webkit-box-shadow: none;*/
/*-moz-box-shadow: none;*/
/*box-shadow: none;*/
/*width: 100%;*/
/*}*/
.tm-tag-custom {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #999999;
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin-bottom: 5px;
    margin-right: 5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.tag:empty {
    display: none;
}
.tag-important {
    background-color: #953b39;
}
.tag-warning {
    background-color: #c67605;
}
.tag-success {
    background-color: #356635;
}
.tag-info {
    background-color: #2d6987;
}
.tag-inverse {
    background-color: #1a1a1a;
}
.tag .close {
    font-size: 14px;
    line-height: 14px;
    margin-left: 7px;
}



.lead-custom{
    margin-bottom: 5px !important;
}



.profile-picture{
    width:115px;
    /*height:180px;*/
    position: relative;
    margin-top:9px;
    overflow: hidden;
    float:left;
}

.profile-overview{
    position: relative;
    z-index: 5;
    float: right;
    width: 335px;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px!important;

}

.profile-overview-content{
    min-height: 149px;
    height: auto;
    padding-top:0px;
    padding-bottom: 15px;
}



.account-icons, #badge{
    float: right;
    margin: -5px 0 0 0;
    padding: 0 0 ;
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
    zoom: 1;
    opacity: 0.7;
}

.badge-container, #badge{
    vertical-align: top;
}

#name-container,#name-container > h2{
    line-height: 0.2;
    font-size: 0.90em !important;
    margin-left:12px;
}

#headline-container{
    font-size: 0.6em;
    margin-left:25px;
}
#headline{
    margin-top:5px;
    font-size: 0.85em;


}
#headline-institution{
    font-size: 0.84em;


}
#headline-location{
    font-size: 0.84em;


}
#headline-i{
    font-size: 0.84em;


}

#demographic-info{
    font-size: 0.55em;
    text-decoration: none !important;
    margin-left:25px;

}

#profile-card-table{
    padding: 0px;
    font-weight:normal !important;
    text-decoration: none !important;
    font-size: 0.9em;
    vertical-align:text-top;
    margin: 5px 25px 0;


}

/*table{*/
/*border-collapse: collapse;*/
/*border-spacing: 0;*/
/*border-spacing: 1000px;*/
/*border-color: gray;*/
/*}*/
tbody{
    display: table-row-group;
}
/*#profile-card-table > th*/
.profile-card-table-th{
    font-size: 0.80em;
    font-weight:normal;
    text-decoration: none !important;
    color: #999;
    /*vertical-align: top;*/
    padding: 2px 15px 0 0;
    white-space: nowrap;
    vertical-align: baseline;
}

.profile-card-table-td{
    font-size: 0.85em;
    padding: 2px 0 0 0;

}

.profile-edit{
    margin: 10px 0;
}

.tag-custom{
    background-color: navajowhite !important;
}

#summary-container{
    margin: 0 auto;
}
.user-summary{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px !important;
    line-height: 1.428571429;
    color: #333;
    text-align:justify;

}




.collapse {
    height: auto;
    width:auto;
}

.collapse.height {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.width {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.collapse.in.width {
    width:16%;
}

.collapse.in.height {
    height: auto;
}

.form-signin {
    max-width: 260px;
}

/*.popover {*/
    /*width: 360px !important;*/
    /*min-width: 230px;*/
    /*width: auto;*/
    /*position: absolute;*/
    /*z-index: 5000;*/
/*}*/

.btn-signin {
    margin-top: 10px;
}

.home-bottom-text {
margin-left: 45px;
}

.popover {
    width: 300px;
    max-width: 300px;
}

.expertise-tags li {
    color: #ffffff !important;
    background: #428bca !important;
    border-color: #357ebd !important;
}