<!doctype html>
<html lang="en" ng-app="adjunct" id="ng-app">
<head>
    <meta charset="utf-8">
    <title>Adjuncts</title>
    <link rel="icon" type="image/x-icon" href="/img/ico/favicon.ico">

    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ng-tags-input.min.css">
    <link rel="stylesheet" href="/css/typeahead.js-bootstrap.css">
    <link rel="stylesheet" href="/css/app.css"/>

    <script src="/jquery/jquery.min.js"></script>

    <script src="/angular/angular.min.js"></script>
    <script src="/angular-elastic/elastic.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/ngScrollTo/ng-scrollto.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/angular-cookies/angular-cookies.min.js"></script>
    <script src="/underscore/underscore-min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular-strap/dist/angular-strap.js"></script>
    <script src="/ngUpload/ng-upload.min.js"></script>
    <script src="/uri.js/src/URI.min.js"></script>
    <script src="/momentjs/moment.js"></script>
    <script src="/stringjs/lib/string.min.js"></script>
    <script src="/js/lib/ng-tags-input.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/controllers/index.js"></script>
    <script src="/js/controllers/adjuncts-profile.js"></script>
    <script src="/js/controllers/job-profile.js"></script>
    <script src="/js/controllers/institutions-profile.js"></script>
    <script src="/js/controllers/home.js"></script>
    <script src="/js/controllers/basic-profile.js"></script>
    <script src="/js/controllers/home.js"></script>
    <script src="/js/controllers/confirm-email.js"></script>
    <script src="/js/controllers/signup.js"></script>
    <script src="/js/controllers/search-results.js"></script>
    <script src="/js/controllers/signin.js"></script>
    <script src="/js/controllers/jobs.js"></script>
    <script src="/js/controllers/contact-us.js"></script>

    <!--api-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
</head>

<body ng-controller="IndexCtrl" document-click>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0px">
    <div class="container">
        <div class="navbar-collapse collapse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" ng-click="index = 0"><img src="/img/logo.png" height="28"></a>
            </div>
            <ul ng-hide="!isSignedIn" class="nav navbar-nav">
                <li ng-class="{active: index == 0}" ng-click="index = 0">
                    <a href="/">Home</a>
                </li>
                <li ng-class="{active: index == 1}" ng-click="index = 1" class="navigation-dropdown">
                    <a bs-dropdown="profileDropdown">Profile</a>
                </li>
                <li ng-class="{active: index == 2}" ng-click="index = 2">
                    <a href="/search-results">Network</a>
                </li>
                <li ng-class="{active: index == 3}" ng-click="index = 3" class="navigation-dropdown">
                    <a bs-dropdown="jobsDropdown">Jobs</a>
                </li>
                <li ng-class="{active: index == 4}" ng-click="index = 4">
                    <a href="/contact-us">Contact Us</a>
                </li>
                <li ng-hide="!isSignedIn">
                    <div class="input-group" style="padding:15px 15px;">
                        <input type="text" class="form-control" ng-enter="search()" required
                               ng-model="navigationSearchBox"
                               placeholder="Search for people, jobs, institutions and more..."
                               style="width:313px;height:25px;border-radius:15px !important;font-size:13px;">
                        <a style="margin-left:-23px;color:#EB7737;font-size:16px;"><i class="fa fa-search"></i></a>
                    </div>
                </li>
            </ul>
            <ul ng-show="!isSignedIn" class="nav navbar-nav navbar-right">
                    <li ng-class="{active: index == 5}" ng-click="index = 5"><a href="/about">About</a></li>
                    <li ng-class="{active: index == 6}" ng-click="index = 6"><a href="/contact-us">Contact Us</a></li>
                    <li ng-class="{active: index == 7}" ng-click="index = 7"><a href="/signup">Join</a></li>
                    <li class="signin-button">
                        <a href="#" style="color:#fff" class="popoverButton" bs-popover data-placement="bottom" data-title="{{signinPopover.title}}" data-template="/partial/signin-popover">Sign In</a>
                    </li>
                    <li ng-hide="!isSignedIn">
                        <div class="input-group" style="padding:15px 15px;">
                            <input type="text" class="form-control" ng-enter="search()" required
                                   ng-model="navigationSearchBox"
                                   placeholder="Search for people, jobs, institutions and more..."
                                   style="width:313px;height:25px;border-radius:15px !important;font-size:13px;">
                            <a style="margin-left:-23px;color:#EB7737;font-size:16px;"><i class="fa fa-search"></i></a>
                        </div>
                    </li>
            </ul>
            <ul ng-show="isSignedIn" class="nav navbar-nav navbar-right">
            <li ng-if="user" class="navigation-dropdown">
                <a href="#" class="navigation-dropdown-toggle" data-toggle="dropdown">
                    <img ng-if="user.imageName" class="pull-left search-image"
                         ng-src="https://s3.amazonaws.com/Adjuncts/{{user.imageName}}" width="35px">
                    <img ng-if="!user.imageName" class="pull-left search-image" ng-src="/img/placeholder3.png"
                         width="35px">
                    {{user.firstName || 'not signed in'}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href ng-click="signout()"> Sign Out</a></li>
                </ul>
            </li>

            </ul>
        </div>
    </div>
</div>

<div ng-view>
</div>

</body>
</html>