<!doctype html>
<html lang="en" ng-app="adjunct" id="ng-app">
<head>
    <meta charset="utf-8">
    <title>Adjuncts</title>
    <link rel="icon" type="image/x-icon" href="/img/ico/favicon.ico" >

    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/ng-tags-input.min.css">
    <link rel="stylesheet" href="/css/app.css"/>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/angular-cookies/angular-cookies.min.js"></script>
    <!--<script src="/angular-resource/angular-resource.min.js"></script>-->
    <script src="/underscore/underscore-min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular-strap/dist/angular-strap.min.js"></script>
    <script src="/ngUpload/ng-upload.min.js"></script>
    <script src="/uri.js/src/URI.min.js"></script>
    <script src="/momentjs/moment.js"></script>
    <script src="/js/lib/ng-tags-input.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/controllers/index.js"></script>
    <script src="/js/controllers/adjuncts-profile.js"></script>
    <script src="/js/controllers/job-profile.js"></script>
    <script src="/js/controllers/institutions-profile.js"></script>
    <script src="/js/controllers/home.js"></script>
    <script src="/js/controllers/basic-profile.js"></script>
    <script src="/js/controllers/home.js"></script>
    <script src="/js/controllers/confirm-email.js"></script>
    <script src="/js/controllers/signup.js"></script>
    <script src="/js/controllers/search-results.js"></script>
    <script src="/js/controllers/signin.js"></script>
    <script src="/js/controllers/jobs.js"></script>
</head>
<body ng-controller="IndexCtrl" style="margin-top:20px;">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0px">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <div class="navbar-header">
                    <li><a class="navbar-brand" href="/"><img src="/img/logo.png" height="25"></a></li>
                </div>
                <li ng-class="{active: index == 0}" ng-click="index = 0"><a href="/">Home</a></li>
                <li ng-class="{active: index == 1}" ng-click="index = 1" class="dropdown"><a ng-href="/profile" bs-dropdown="profileDropdown">Profile</a></li>
                <li ng-class="{active: index == 2}" ng-click="index = 2"><a href="/search-results">Network</a></li>
                <li ng-class="{active: index == 3}" ng-click="index = 3" class="dropdown"><a ng-href="/jobs" bs-dropdown="jobsDropdown">Jobs</a></li>
                <li ng-class="{active: index == 4}" ng-click="index = 4"><a href="/contact">Contact</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <button class="btn btn-custom btn-signin" ng-click="signout()" ng-show="isSignedIn">Sign Out</button>
                <button class="btn  btn-primary-custom btn-custom btn-signin" data-placement="bottom" data-title="" bs-popover="'/partial/signin-popover'" ng-show="!isSignedIn">Sign In</button>
            </div>
        </div>
    </div>
</div>
<div ng-view>
</div>
<hr class="featurette-divider">
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; Adjuncts Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</body>
</html>